.status {
  @apply min-h-[54px] cursor-default opacity-100;

  @keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  animation: fade 150ms linear;
}

[column-type='filled'] .status__wrapper,
[column-type='filled'] .status-placeholder {
  @apply bg-transparent dark:bg-transparent rounded-none shadow-none;
}

.status-check-box {
  @apply flex items-center justify-between;

  .status-check-box__status {
    @apply py-2;

    .media-gallery {
      @apply max-w-[250px];
    }

    .status__content {
      @apply p-0 text-gray-700 dark:text-gray-500 text-sm whitespace-normal;
    }

    .video-player,
    .audio-player {
      @apply mt-2 max-w-[250px];
    }

    .media-gallery__item-thumbnail {
      @apply cursor-default;
    }
  }
}

.status-check-box-toggle {
  @apply items-center flex justify-center p-2.5;
  flex: 0 0 auto;
}

.focusable:focus,
.focusable-within:focus-within {
  @apply outline-0 ring-2 ring-primary-300;
}

.status-card {
  @apply flex text-sm border border-solid border-gray-200 dark:border-gray-800 rounded-lg text-gray-800 dark:text-gray-200 no-underline overflow-hidden;
}

a.status-card {
  @apply cursor-pointer hover:bg-gray-100 dark:hover:bg-primary-800/30 hover:no-underline;
}

.status-card__image {
  @apply relative overflow-hidden;
  flex: 0 0 40%;

  & > .svg-icon {
    @apply h-10 w-10 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    transform-origin: 50% 50%;

    svg {
      @apply stroke-[1px];
    }
  }
}

.status-card.horizontal {
  @apply block;
}

.status-card.compact {
  @apply border-gray-200 dark:border-gray-800;
}

.status-card__image-image {
  @apply block w-full h-full object-cover bg-cover bg-center;
}

.status-card--link {
  @apply flex flex-col md:flex-row;
}

.material-status {
  @apply pb-2.5;

  &__status {
    @apply pt-4 pb-0 px-2.5 rounded-[10px];
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  }

  .status {
    @apply px-2.5 py-2;

    &__content {
      @apply pt-2.5;
    }
  }
}
