.detailed,
.fullscreen {
  .video-player__volume__currnt,
  .video-player__volume::before {
    bottom: 27px;
  }

  .video-player__volume__handle {
    bottom: 23px;
  }
}

.video-player {
  &__controls {
    background: linear-gradient(0deg, #000000d9 0, #00000073 60%, transparent);
  }

  &__buttons {
    @apply flex min-w-[30px] items-center text-base whitespace-nowrap overflow-hidden text-ellipsis flex-initial;
    flex: 0 1 auto;

    .player-button {
      @apply inline-block outline-0 bg-transparent text-base border-0 text-white/75;
      flex: 0 0 auto;
      padding: 5px 6px;

      .svg-icon {
        @apply w-5 h-5;
      }

      &:active,
      &:hover,
      &:focus {
        @apply text-white;
      }
    }
  }

  &__volume {
    @apply inline-flex cursor-pointer h-6 relative overflow-hidden;
    flex: 0 0 auto;

    .no-reduce-motion & {
      transition: all 100ms linear;
    }

    &.active {
      @apply overflow-visible w-12 mr-4;
    }

    &::before {
      content: '';
      width: 50px;
      background: rgba(#fff, 0.35);
      border-radius: 4px;
      display: block;
      position: absolute;
      height: 4px;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    &__current {
      @apply bg-accent-500 block absolute h-1 rounded left-0 top-1/2;
      transform: translate(0, -50%);
    }

    &__handle {
      @apply bg-accent-500 absolute z-[3] rounded-[50%] size-3 top-1/2 left-0 -ml-1.5 opacity-0;
      transform: translate(0, -50%);
      box-shadow: 1px 2px 6px #0003;

      .no-reduce-motion & {
        transition: opacity 100ms linear;
      }
    }

    &.active &__handle {
      @apply opacity-100;
    }
  }

  &__link {
    @apply py-0.5 px-2.5;

    a {
      @apply no-underline text-sm font-medium text-white hover:underline active:underline focus:underline;
    }
  }

  &__seek {
    cursor: pointer;
    height: 24px;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      background: rgba(#fff, 0.35);
      border-radius: 4px;
      display: block;
      position: absolute;
      height: 4px;
      top: 14px;
    }

    &__progress {
      @apply block absolute h-1 rounded top-3.5 bg-accent-500;
    }

    &__buffer {
      @apply block absolute h-1 rounded top-3.5 bg-white/20;
    }

    &__handle {
      @apply bg-accent-500 absolute z-[3] opacity-0 rounded-[50%] size-3 top-2.5 -ml-1.5;
      box-shadow: 1px 2px 6px #0003;

      .no-reduce-motion & {
        transition: opacity 0.1s ease;
      }

      &.active {
        @apply opacity-100;
      }
    }

    &:hover {
      .video-player__seek__handle {
        @apply opacity-100;
      }
    }
  }
}
