body {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

// Note: this is needed for React HotKeys performance. Removing this
// will cause severe performance degradation on Safari.
div[tabindex='-1']:focus {
  @apply outline-0;
}

::selection {
  @apply bg-primary-600 text-white;
}

noscript {
  @apply text-center;
}

.emojione {
  @apply w-4 h-4 -mt-[0.2ex] mb-[0.2ex] inline-block align-middle object-contain;
}

body.system-font,
body.system-font .font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
}

body.system-font .font-mono {
  font-family: ui-monospace, mono;
}