.icon-button {
  @apply text-black dark:text-white inline-flex items-center p-0 border-0 bg-transparent cursor-pointer transition duration-100 ease-in opacity-40;

  &:hover,
  &:active,
  &:focus {
    @apply opacity-60 transition-colors duration-200 ease-out;
  }

  &::-moz-focus-inner {
    @apply border-0;
  }

  &::-moz-focus-inner,
  &:focus,
  &:active {
    @apply outline-0 #{!important};
  }
}

.react-datepicker-popper {
  @apply z-[9999] #{!important};
}

.ellipsis::after {
  content: '…';
}

.react-swipeable-view-container {
  & {
    @apply h-full;
  }
}

.react-swipeable-view-container>* {
  @apply flex items-center justify-center h-full;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.underline-line-through {
  text-decoration: underline line-through;
}