@use 'mixins';
@use 'variables';

.account-header {
  &__avatar-placeholder {
    position: relative;

    width: 6rem;
    height: 6rem;
    margin: -3rem 1rem 0;
    border-radius: var(--radius-lg);

    background-color: var(--color-gray-400);
    outline: 4px solid white;

    .dark & {
      outline-color: var(--color-gray-800);
    }
  }

  &__banner {
    isolation: isolate;
    position: relative;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    .body--bordered & {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &--media {
      height: 8rem;
      background-color: var(--color-gray-200);

      .dark & {
        background-color: variables.opaque(--color-gray-900, 0.5);
      }

      @media (min-width: variables.$breakpoint-lg) {
        height: 12rem;
      }
    }

    &--empty {
      height: 6rem;

      @media (min-width: variables.$breakpoint-lg) {
        height: 8rem;
      }
    }

    @media (min-width: variables.$breakpoint-sm) {
      border-radius: var(--radius-xl) var(--radius-xl) 0 0;
    }
  }

  &__badges {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    display: flex;
    gap: 0.25rem;
    align-items: center;
  }

  &__profile {
    display: flex;
    gap: 1.25rem;
    align-items: flex-end;
    margin: -3rem 1rem 0;
  }

  &__avatar {
    position: relative;
    display: flex;
  }

  &__avatar-image {
    position: relative;
    border-radius: var(--radius-lg);
    background-color: white;
    outline: 4px solid white;

    .dark & {
      background-color: var(--color-primary-900);
      outline: 4px solid var(--color-primary-900);
    }

    .black & {
      outline: 4px solid black;
    }
  }

  &__verification-badge {
    position: absolute;
    z-index: 1;
    right: -0.5rem;
    bottom: -0.5rem;
  }

  &__verification-icon {
    width: 1.5rem !important;
    height: 1.5rem !important;
    padding: 2px !important;
    border-radius: var(--radius-full);

    outline: 2px solid white;

    .dark & {
      outline: 2px solid var(--color-primary-900);
    }

    .black & {
      outline: 2px solid black;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-end;

    width: 100%;
    margin-top: 1.5rem;

    @media (min-width: variables.$breakpoint-sm) {
      padding-bottom: 0.25rem;
    }
  }

  &__icon-button {
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__header-alt-indicator {
    width: fit-content;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
  }

  &__container {
    margin: -1rem -1rem 0;

    &--placeholder {
      pointer-events: none;

      div:first-child {
        position: relative;
        width: 100%;
        height: 8rem;
        background-color: var(--color-gray-200);

        .dark & {
          background-color: variables.opaque(--color-gray-900, 0.5);
        }

        .body--bordered & {
          border-radius: 0;
        }

        @media (min-width: variables.$breakpoint-md) {
          border-radius: var(--radius-xl) var(--radius-xl) 0 0;
        }

        @media (min-width: variables.$breakpoint-lg) {
          height: 12rem;
        }
      }
    }

    @media (min-width: variables.$breakpoint-sm) {
      margin: -1.5rem -1.5rem 0;
    }
  }
}

.account-info-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__container {
    z-index: 1;
    flex: 1;
    min-width: 0;

    @media (min-width: variables.$breakpoint-sm) {
      padding: 0 0.5rem;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;

    &__badges {
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }

    &__display-name {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
      align-items: center;
      @include mixins.text($size: lg, $weight: bold);

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &__original-display-name {
      @include mixins.text($theme: muted, $truncate: true);
    }

    &__handle {
      @include mixins.text($size: sm, $theme: muted, $truncate: true);

      direction: ltr;
      display: flex;
      gap: 0.125rem;
      align-items: center;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.account-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;

  a, div {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    @include mixins.text($weight: bold, $size: sm);

    strong {
      color: var(--color-primary-600);

      .dark * & {
        color: var(--color-primary-400);
      }
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

.account-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &--collapsed {
    overflow: hidden;
    max-height: 200px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__note {
    @include mixins.text($size: sm);

    overflow-wrap: break-word;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__item {
      @include mixins.text($size: sm);

      display: flex;
      gap: 0.125rem;
      align-items: center;

      svg {
        width: 1rem;
        height: 1rem;
        color: var(--color-gray-800);

        .dark & {
          color: var(--color-gray-200);
        }
      }
    }

    @media (min-width: variables.$breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    &--optional {
      @media (min-width: variables.$breakpoint-xl) {
        display: none;
      }
    }
  }
}

.account-card {
  display: block;
  flex-shrink: 0;
  width: 100%;

  > div {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-between;
  }

  &--action-top {
    > div {
      align-items: flex-start;
    }
  }

  &__inner {
    &--fit {
      width: fit-content;
      min-width: 100%;
    }
  }

  &__row {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    max-width: 100%;

    &--top {
      align-items: flex-start;
    }
  }

  &__avatar {
    border-radius: var(--radius-lg);

    &--emoji {
      position: relative;
    }
  }

  &__emoji {
    position: absolute !important;
    right: -.375rem;
    bottom: 0;

    width: 1.25rem;
    height: 1.25rem;
  }

  &__content {
    overflow: hidden;
    flex-grow: 1;
  }

  &__display-name {
    display: flex;
    flex-grow: 1;
    gap: 0.25rem;
    align-items: center;

    &__text {
      @include mixins.text($size: sm, $weight: semibold, $truncate: true);
    }
  }

  &__meta {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    &__container {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  &__handle {
    @include mixins.text($size: sm, $theme: muted, $truncate: true);

    direction: ltr;
  }

  &__meta-text {
    @include mixins.text($size: sm, $theme: muted);
  }

  &__lock {
    width: 1rem;
    height: 1rem;
    color: var(--color-gray-600);
  }

  &__timestamp {
    @include mixins.text($theme: muted, $size: sm);

    white-space: nowrap;
  }

  &__note {
    @include mixins.text($size: sm);

    margin-right: 0.5rem;
  }

  &__bio {
    @include mixins.text($size: sm, $truncate: true);

    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    text-overflow: ellipsis;

    br,
    p {
      display: none;
    }

    p:first-child {
      overflow: hidden;
      display: inline;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__action {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__action-button {
    color: var(--color-gray-600);
    background-color: transparent;

    &:hover {
      color: var(--color-gray-700);
    }

    .dark & {
      color: var(--color-gray-600);
    }

    .dark &:hover {
      color: var(--color-gray-500);
    }
  }

  &__action-icon {
    width: 1rem;
    height: 1rem;
  }
}

.reaction-stack {
  position: absolute !important;
  z-index: 1;
  right: -.375rem;
  bottom: 0;

  display: flex;

  transition: all 0.2s var(--ease-default);

  &__emoji {
    position: relative;
    z-index: 1;

    width: 1.25rem;
    min-width: 1.25rem;
    height: 1.25rem;

    transition: all 0.2s var(--ease-default);

    &:not(:first-child) {
      margin-left: -0.5rem;
    }
  }

  &--expanded {
    right: unset;
    left: 0;
    gap: 0.25rem;

    .reaction-stack__emoji {
      margin-left: 0;
    }
  }
}

.verification-badge {
  border-radius: var(--radius-full);
  background-color: var(--color-accent-500);

  img,
  svg {
    width: 1rem;
    height: 1rem;
    padding: 1px;
    border-radius: var(--radius-full);

    color: white;

    background-color: var(--color-accent-500);
  }
}

.recent-scrobble {
  &__text {
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;

    white-space: nowrap;

    p {
      position: relative;
      display: inline-block;

      .no-reduce-motion .recent-scrobble--animate & {
        animation: text-overflow 8s linear infinite;
      }
    }

    a {
      text-decoration: underline;
    }
  }

  .icon-button {
    margin: -0.25rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

@keyframes text-overflow {
  10%,
  90% {
    left: 0%;
    transform: translateX(0);
  }

  40%,
  60% {
    left: 100%;
    transform: translateX(-100%);
  }
}

.avatar {
  display: block;
  border-radius: var(--radius-lg);
  line-height: 0;

  img,
  canvas {
    border-radius: inherit;
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
  }

  &--missing {
    position: relative;
    background-color: var(--color-gray-200);

    .dark & {
      background-color: var(--color-gray-900);
    }
  }

  &__placeholder {
    position: absolute;
    z-index: 1;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: inherit;

    background-color: var(--color-gray-200);

    .dark & {
      background-color: var(--color-gray-900);
    }

    svg {
      width: 1rem;
      height: 1rem;
      color: var(--color-gray-500);

      .dark & {
        color: var(--color-gray-700);
      }
    }
  }

  // Adapted from Iceshrimp which I guess took it from Misskey
  // https://iceshrimp.dev/iceshrimp/iceshrimp/src/branch/dev/packages/client/src/components/global/MkAvatar.vue
  &--cat {
    background: var(--color-gray-200);

    &::before,
    &::after {
      content: '';

      display: inline-block;

      box-sizing: border-box;
      width: 50%;
      height: 50%;
      border: solid 0.05em currentcolor;

      background: #ebbcba;
    }

    &::before {
      transform: rotate(37.5deg) skew(30deg);
      border-radius: 0 75% 75%;
    }

    &::after {
      transform: rotate(-37.5deg) skew(-30deg);
      border-radius: 75% 0 75% 75%;
    }

    .dark & {
      background: var(--color-gray-900);
    }

    img {
      position: absolute;
      z-index: 1;
      inset: 0;
    }

    .no-reduce-motion &:hover {
      &::before {
        animation: earwiggleleft 1s infinite;
      }

      &::after {
        animation: earwiggleright 1s infinite;
      }
    }
  }
}

@keyframes earwiggleleft {
  0% {
    transform: rotate(37.6deg) skew(30deg);
  }

  25% {
    transform: rotate(10deg) skew(30deg);
  }

  50% {
    transform: rotate(20deg) skew(30deg);
  }

  75% {
    transform: rotate(0deg) skew(30deg);
  }

  100% {
    transform: rotate(37.6deg) skew(30deg);
  }
}

@keyframes earwiggleright {
  0% {
    transform: rotate(-37.6deg) skew(-30deg);
  }

  30% {
    transform: rotate(-10deg) skew(-30deg);
  }

  55% {
    transform: rotate(-20deg) skew(-30deg);
  }

  75% {
    transform: rotate(0deg) skew(-30deg);
  }

  100% {
    transform: rotate(-37.6deg) skew(-30deg);
  }
}

.instance-favicon {
  flex: none;
  width: 1rem;
  height: 1rem;

  img {
    width: 100%;
    max-height: 100%;
  }

  &:focus {
    outline: 2px solid var(--color-primary-500);
    outline-offset: 2px;
  }
}

.media-panel {
  .widget__body {
    width: 100%;
  }

  &__attachments {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.125rem;

    border-radius: var(--radius-md);
  }

  &__empty {
    @include mixins.text($size: sm, $theme: muted);
  }
}

.profile-field {
  span[data-markup] {
    overflow-wrap: anywhere;
  }

  dt span[data-markup] {
    @include mixins.text($weight: bold);
  }

  &--verified dd {
    color: var(--color-success-500);
  }

  &__content {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__verified {
    flex: none;
  }
}

.account-local-time {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  margin-top: 0.25rem;

  svg {
    width: 1rem;
    height: 1rem;
    color: var(--color-gray-800);

    .dark & {
      color: var(--color-gray-200);
    }
  }

  strong {
    color: var(--color-green-500);
  }
}

.profile-fields-panel {
  .widget__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  span[data-markup] {
    @include mixins.text;

    overflow: hidden;
    overflow-wrap: anywhere;
  }
}

.moved-note,
.follow-request-note {
  @include mixins.text($size: sm, $theme: muted, $truncate: true);

  display: flex;
  gap: 0.375rem;
  align-items: center;

  svg {
    width: 1rem;
    height: 1rem;
  }

  &__container {
    padding: 1rem;
  }
}

.moved-note {
  margin-bottom: 0.5rem;
}

.follow-request-note {
  padding: 1rem;

  .follow-request-actions {
    justify-content: flex-end;
    margin-left: auto;
  }
}

.mention-with-avatar {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;

  margin: 0.5px 0;
  padding: 0.125rem 0.5rem 0.125rem 0.25rem;
  border-radius: var(--radius-full);

  vertical-align: middle;

  background: var(--color-gray-200);

  .dark & {
    background: var(--color-primary-800);
  }

  .black & {
    background: var(--color-gray-800);
  }

  &:hover {
    text-decoration: underline;
  }

  .avatar {
    overflow: hidden;
    border-radius: var(--radius-full);

    .text-lg & {
      width: 1.5rem !important;
      height: 1.5rem !important;
    }

    &--placeholder {
      width: 1rem;
      height: 1rem;
    }
  }
}

.avatar-stack {
  --avatar-stack-background: white;

  position: relative;
  display: flex;

  .dark & {
    --avatar-stack-background: var(--color-primary-900);
  }

  .black & {
    --avatar-stack-background: black;
  }

  > div {
    position: relative;

    &:not(:first-child) {
      margin-left: -0.75rem;
    }

    .avatar {
      border-radius: var(--radius-full) !important;
      outline: 2px solid var(--avatar-stack-background);
    }
  }
}

.account-hover-card {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;

  width: 20rem;

  opacity: 100;

  transition: opacity 0.15s var(--ease-default);

  &--hidden {
    pointer-events: none;
    opacity: 0;
  }

  > div {
    position: relative;
    overflow: hidden;

    .body--bordered & {
      border: 1px solid var(--card-border);
      border-radius: var(--radius-xl) !important;
    }
  }

  &__card {
    @include mixins.card($variant: rounded);

    isolation: isolate;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__note {
    @include mixins.text($size: sm, $truncate: true);

    margin-inline-end: 0.5rem;

    br,
    p {
      display: none;
    }

    p:first-child {
      overflow: hidden;
      display: inline;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__badge {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }
}

.familiar-followers {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  p {
    @include mixins.text($size: sm, $theme: muted);

    a {
      display: inline-block;

      span.hover-account-wrapper {
        display: flex;
        flex-grow: 1;
        gap: 0.25rem;
        align-items: center;

        p {
          @include mixins.text($size: sm, $theme: primary, $truncate: true);
        }
      }
    }

    button {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.birthday-account {
  &__label {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    min-width: fit-content;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.follow-request-actions {
  display: flex;
  gap: 0.5rem;

  button:first-child {
    @include mixins.button($theme: secondary, $size: sm);
  }

  button:last-child {
    @include mixins.button($theme: danger, $size: sm);
  }
}

.account-action-button {
  &--mute,
  &--block,
  &--bite,
  &--following,
  &--unfollow,
  &--remote-follow {
    @include mixins.button($theme: secondary, $size: sm);
  }

  &--follow {
    @include mixins.button($theme: primary, $size: sm);
  }

  &--requested,
  &--edit {
    @include mixins.button($theme: tertiary, $size: sm);
  }

  &--unmute,
  &--unblock {
    @include mixins.button($theme: danger, $size: sm);
  }

  &--loading {
    @include mixins.button($theme: primary, $size: xs);

    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.account-gallery,
.group-gallery {
  &__loading {
    padding-top: 1.5rem;
  }

  &__grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.25rem;

    border-radius: var(--radius-md);

    @media (min-width: variables.$breakpoint-sm) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &__empty {
    grid-column: span 2 / span 2;

    @media (min-width: variables.$breakpoint-sm) {
      grid-column: span 3 / span 3;
    }
  }

  &__load-more {
    margin: 1rem auto 0;
  }

  &__spinner {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem 2rem;
  }

  &__item {
    grid-column: span 1 / span 1;

    .media-gallery {
      &__item-thumbnail {
        aspect-ratio: 1;
      }

      &__item-gifv {
        &-thumbnail {
          overflow: hidden;
        }
      }

      &__preview {
        &[aria-hidden='true'] {
          display: none;
        }

        &:last-child {
          border-bottom-right-radius: var(--radius-md);
        }
      }
    }
  }

  .still-image {
    overflow: hidden;
    height: 100%;
  }

  &:last-child {
    .media-gallery__item-gifv-thumbnail,
    .media-gallery__item-thumbnail,
    .still-image {
      border-bottom-right-radius: var(--radius-md);
    }
  }
}

.account--placeholder {
  pointer-events: none;
  display: flex;
  gap: 0.75rem;
  align-items: center;

  &__avatar {
    flex-shrink: 0;
  }

  &__name {
    flex: 1;
    min-width: 0;
  }
}

.authorize-reject-buttons {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  &__emblem {
    padding: 0.5rem 1rem;
    border-radius: var(--radius-full);
    background: var(--color-gray-100);
    @include mixins.text($size: sm, $theme: muted);

    .dark & {
      background: var(--color-gray-800);
    }
  }
}

.authorize-button,
.reject-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.75rem;
  height: 2.75rem;
  border-radius: var(--radius-full);

  .icon-button {
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;

    background: white;

    .dark & {
      background: var(--color-gray-900);
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.authorize-button {
  background-color: variables.opaque(--color-primary-500, 0.1);

  .icon-button svg {
    color: var(--color-primary-500);
  }
}

.reject-button {
  background-color: variables.opaque(--color-danger-600, 0.1);

  .icon-button svg {
    color: var(--color-danger-600);
  }
}

.user-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__header {
    position: relative;

    overflow: hidden;

    height: 6rem;
    margin: -1rem -1rem 0;

    background-color: var(--color-gray-200);

    &__container {
      display: flex;
      flex-direction: column;
    }
  }

  &__avatar {
    width: 5rem;
    height: 5rem;
    background-color: var(--color-gray-50);
    outline: 2px solid white;

    .dark & {
      outline-color: var(--color-primary-900);
    }

    .black & {
      outline-color: black;
    }

    &__container {
      display: flex;
      justify-content: end;

      &:has(.user-panel__avatar) {
        justify-content: space-between;
      }
    }

    &__link {
      display: block;
      margin-top: -3rem;
    }
  }

  &__action {
    margin-top: 0.5rem;
  }

  &__name {
    display: flex;
    flex-direction: column;

    &__display-name {
      display: flex;
      gap: 0.25rem;
      align-items: center;

      p:first-child {
        @include mixins.text($size: lg, $weight: bold, $truncate: true);
      }

      p:not(:first-child) {
        @include mixins.text($theme: muted, $truncate: true);
      }

      &__badges {
        display: flex;
        gap: 0.25rem;
        align-items: center;
      }
    }

    &__acct {
      display: flex;
      gap: 0.25rem;
      align-items: center;

      p {
        @include mixins.text($size: sm, $theme: muted, $truncate: true);
      }

      svg {
        width: 1rem;
        height: 1rem;
        color: var(--color-gray-600);
      }
    }
  }

  &__stats {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    a {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      @include mixins.text($weight: bold, $size: sm);

      strong {
        @include mixins.text($theme: primary, $weight: bold, $size: sm);
      }
    }
  }
}

.subscribers,
.hashtag-follow {
  &__toggle {
    margin-bottom: 0.75rem;

    .body--bordered & {
      margin: 0 1rem;
    }
  }
}

.account-menu__button {
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.follow-request__account {
  padding: 0.625rem;
}

.account-list__item {
  padding-bottom: 1rem;
}

.account-timeline__blocked {
  @include mixins.text($align: center);
}
