@use 'mixins';
@use 'variables';

.chat-composer {
  margin-top: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  box-shadow: var(--shadow-3xl);

  &--framed {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  &--shoutbox {
    padding-top: 1.25rem;
  }

  &--blocked {
    padding: 1.5rem;

    .dark & {
      border-top: 2px solid var(--color-gray-800);
    }
  }

  &__blocked-body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;

    button {
      @include mixins.button($theme: secondary);
    }
  }

  &__blocked-message {
    @include mixins.text($theme: muted, $align: center);
  }

  &__spacer {
    height: 1.25rem;
  }

  &__row {
    display: flex;
    gap: 1rem;
    align-items: stretch;
    justify-content: space-between;
  }

  &__field {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 2.5rem;
    margin-bottom: 0.375rem;

    &--send {
      gap: 0.5rem;
    }
  }

  &__send-button {
    color: var(--color-primary-500);

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__limit {
    @include mixins.text($size: sm, $theme: danger);
  }

  &__error {
    @include mixins.text($size: xs, $theme: danger);

    &__container {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      height: 1.25rem;
    }
  }

  &__retry {
    @include mixins.text($size: xs, $theme: primary);

    display: flex;

    &:hover {
      text-decoration: underline;
    }
  }
}

.chat-textarea {
  display: block;

  width: 100%;
  border: 1px solid var(--color-gray-400);
  border-radius: var(--radius-md);

  color: var(--color-gray-900);

  background-color: white;
  outline: 1px solid transparent;
  box-shadow: var(--shadow-sm);

  &::placeholder {
    color: var(--color-gray-600);
  }

  &:focus-within {
    border-color: var(--color-primary-500);
    outline-color: var(--color-primary-500);
  }

  .dark & {
    border-color: var(--color-gray-800);
    color: var(--color-gray-100);
    background-color: var(--color-gray-800);
    outline-color: var(--color-gray-800);

    &::placeholder {
      color: var(--color-gray-600);
    }

    &:focus-within {
      border-color: var(--color-primary-500);
      outline-color: var(--color-primary-500);
    }
  }

  &__attachments {
    display: flex;
    flex-wrap: wrap;

    margin-top: -0.5rem;
    margin-left: -0.5rem;
    padding: 0.75rem 0.75rem 0;
  }

  &__attachment {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  &__input {
    padding: 0.5rem 0.75rem;
  }

  @media (min-width: variables.$breakpoint-sm) {
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
  }
}

.chat-upload {
  isolation: isolate;
  position: relative;

  overflow: hidden;
  display: inline-block;

  width: 6rem;
  height: 6rem;
  border-radius: var(--radius-lg);

  background-color: var(--color-gray-200);

  .dark & {
    background-color: var(--color-primary-900);
  }

  &--pending {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  &__blurhash {
    position: absolute;
    z-index: -10;
    inset: 0;

    width: 100%;
    height: 100%;
  }

  &__remove {
    position: absolute;
    top: 6px;
    right: 6px;
  }

  &__button {
    width: 100%;
    height: 100%;

    &--clickable {
      cursor: zoom-in;
    }

    &--static {
      cursor: default;
    }
  }

  &__remove-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.25rem;
    height: 1.25rem;
    padding: 0.25rem;
    border-radius: var(--radius-full);

    background-color: var(--color-secondary-500);

    svg {
      width: 0.75rem;
      height: 0.75rem;
      color: white;
    }
  }
}

.chat-upload-preview {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;

  &__fallback {
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    svg {
      width: 4rem;
      height: 4rem;
      margin: 3rem auto;
      color: var(--color-gray-800);

      .dark & {
        color: var(--color-gray-200);
      }
    }
  }
}

.chat-search {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;

  height: 100%;
  margin-top: -0.25rem;

  &__form {
    padding-top: 0.25rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &__input {
    margin-top: 0;

    svg {
      width: 1rem;
      height: 1rem;
      color: var(--color-gray-700);

      .dark & {
        color: var(--color-gray-600);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__blankslate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    width: calc(100% / 3 * 2);
    height: 100%;
    margin-right: auto;
    margin-left: auto;

    &__title {
      @include mixins.text($size: lg, $weight: bold, $align: center);
    }

    &__body {
      @include mixins.text($theme: muted, $align: center);
    }
  }

  &__results {
    position: relative;
    flex-grow: 1;
  }

  &__result {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    width: 100%;
    padding: 0.75rem 0.5rem;
    border-radius: var(--radius-lg);

    &:hover {
      background-color: var(--color-gray-100);
    }

    .dark &:hover {
      background-color: var(--color-gray-800);
    }

    &__container {
      padding: 0 0.5rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__name {
      display: flex;
      flex-grow: 1;
      gap: 0.25rem;
      align-items: center;

      span {
        @include mixins.text($size: sm, $weight: bold, $truncate: true);
      }

      &__acct {
        @include mixins.text($size: sm, $weight: medium, $theme: muted, $truncate: true);

        &::before {
          content: "@";
        }
      }
    }
  }

  &__fade {
    --gradient-from: white;

    pointer-events: none;

    position: absolute;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;

    transition: opacity 500ms var(--ease-default);

    .dark & {
      --gradient-from: var(--color-gray-900);
    }

    .black & {
      --gradient-from: black;
    }

    &--top {
      top: 0;

      padding-top: 2rem;
      padding-bottom: 3rem;
      border-top-left-radius: var(--radius-lg);
      border-top-right-radius: var(--radius-lg);

      background-image: linear-gradient(to bottom, var(--gradient-from), transparent);
    }

    &--bottom {
      bottom: 0;

      padding-top: 3rem;
      padding-bottom: 2rem;
      border-bottom-right-radius: var(--radius-lg);
      border-bottom-left-radius: var(--radius-lg);

      background-image: linear-gradient(to top, var(--gradient-from), transparent);
    }

    &--hidden {
      opacity: 0;
    }

    &--visible {
      opacity: 1;
    }
  }
}

.chats-page-blankslate {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 1.5rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 24rem;
  }

  &__title {
    @include mixins.text($size: 2xl, $weight: bold, $align: center);
  }

  &__body {
    @include mixins.text($size: sm, $theme: muted, $align: center);
  }

  &__action {
    @include mixins.button($theme: primary);
  }
}

.chats-page-panel,
.chats-page-sidebar-panel,
.chats-page-chat,
.chat-widget__chat-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chats-page-panel {
  gap: 1rem;

  &--settings {
    gap: 2rem;
    padding: 1.5rem 1rem;

    @media (min-width: variables.$breakpoint-sm) {
      padding: 1.5rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;

    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;

    @media (min-width: variables.$breakpoint-sm) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__back-button {
    width: 1.75rem;
    height: 1.75rem;
    margin-inline-end: 0.5rem;

    [dir="rtl"] & {
      transform: rotate(180deg);
    }

    @media (min-width: variables.$breakpoint-sm) {
      display: none;
      margin-right: 0;
    }
  }

  &__submit {
    @include mixins.button($theme: primary);
  }
}

.chats-page-sidebar-panel {
  gap: 1rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &__actions {
    display: flex;
    gap: 0.25rem;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      color: var(--color-gray-600);
    }
  }

  &__list {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    height: 100%;
  }
}

.chats-page-chat {
  overflow: hidden;

  &__header {
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    width: 100%;
    padding: 1rem;

    &--between {
      justify-content: space-between;
    }
  }

  &__avatar__container,
  &__title__container,
  &__title__name {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }

  &__back-button {
    width: 1.75rem;
    height: 1.75rem;
    margin-inline-end: 0.5rem;

    [dir="rtl"] & {
      transform: rotate(180deg);
    }

    @media (min-width: variables.$breakpoint-sm) {
      display: none;
      margin-right: 0;
    }
  }

  &__avatar {
    flex: none;

    &__name {
      flex-grow: 1;
      gap: 0.25rem;
      width: 100%;
    }

    &__text {
      @include mixins.text($size: sm, $weight: bold, $align: left, $truncate: true);
    }
  }

  &__title {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 2.75rem;

    &__container {
      gap: 0.5rem;
    }

    &__text {
      @include mixins.text($size: sm, $weight: bold, $truncate: true);
    }
  }

  &__account-popover {
    padding: 0.5rem 1rem;
  }

  &__body {
    overflow: hidden;
    height: 100%;
  }

  &__chat {
    height: 100%;
  }
}

.chats-page {
  overflow: hidden;

  height: 100vh;

  color: var(--color-gray-900);

  background: white;
  box-shadow: var(--shadow-lg);

  .dark & {
    color: var(--color-gray-100);
    background: var(--color-primary-900);
    box-shadow: none;
  }

  .black & {
    background: none;
  }

  > div {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    height: 100%;
  }

  &__sidebar {
    overflow: hidden;
    display: flex;
    grid-column: span 9 / span 9;
    flex-direction: column;

    background: linear-gradient(to right, white, var(--color-gray-100));

    &--hidden {
      display: none;
    }

    .dark & {
      background: var(--color-gray-900);
    }

    .black & {
      background: black;
    }

    @media (min-width: variables.$breakpoint-sm) {
      grid-column: span 4 / span 4;

      .dark & {
        border-right: 1px solid var(--color-primary-800);
      }

      .black & {
        border-color: var(--color-gray-800);
      }

      &--hidden {
        display: block;
      }
    }

    @media (min-width: variables.$breakpoint-md) {
      grid-column: span 3 / span 3;
    }
  }

  &__main {
    overflow: hidden;
    display: flex;
    grid-column: span 9 / span 9;
    flex-direction: column;

    height: 100%;

    &--hidden {
      display: none;
    }

    @media (min-width: variables.$breakpoint-sm) {
      grid-column: span 5 / span 5;

      &--hidden {
        display: block;
      }
    }

    @media (min-width: variables.$breakpoint-md) {
      grid-column: span 6 / span 6;
    }
  }

  @media (min-width: variables.$breakpoint-sm) {
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  }
}

.chat-widget {
  position: fixed;
  z-index: 99;
  bottom: 0;
  inset-inline-end: 1.25rem;

  display: flex;
  flex-direction: column;

  width: 24rem;
  height: 4rem;
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;

  background: white;
  box-shadow: var(--shadow-3xl);

  .body--reverse & {
    inset-inline-start: 1.25rem;
    inset-inline-end: unset;
  }

  .dark & {
    background: var(--color-gray-900);
  }

  .black & {
    border: 1px solid var(--color-gray-800);
    background: black;
  }

  &--open {
    height: 550px;
    max-height: 100vh;

    .chat-widget__header__open-button svg {
      transform: rotate(180deg);
    }
  }

  .no-reduce-motion &--placeholder {
    animation: pulse 2s ease-in-out infinite;
  }

  &__container {
    display: none;

    @media (min-width: variables.$breakpoint-xl) {
      display: block;
    }
  }

  &__header {
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;

    height: 4rem;
    min-height: 4rem;
    padding: 0.75rem 1rem;
    border-top-left-radius: var(--radius-xl);
    border-top-right-radius: var(--radius-xl);

    &__title {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      gap: 0.25rem;
      align-items: center;

      height: 4rem;

      p {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__title div:first-child,
    &__count p {
      @include mixins.text($weight: semibold);

      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__count {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      &__dot {
        width: 0.625rem;
        height: 0.625rem;
        border-radius: 50%;
        background: var(--color-accent-300);
      }
    }

    &__actions {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      svg {
        width: 1.25rem;
        height: 1.25rem;
        color: var(--color-gray-600);
      }
    }

    &__open-button svg {
      transform: rotate(0deg);
      transition: transform 0.15s var(--ease-default);
    }
  }

  &__search-header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;

    height: 100%;

    > div {
      &::before,
      &::after {
        --gradient-from: #fff;
        --gradient-to: transparent;

        pointer-events: none;
        content: '';

        position: absolute;
        z-index: 2;
        right: 0;
        left: 0;

        display: flex;
        justify-content: center;

        padding-top: 2rem;
        padding-bottom: 3rem;

        opacity: 1;

        transition: opacity 500ms var(--ease-default);

        .dark.black & {
          --gradient-from: #000;
          --gradient-to: transparent;

          opacity: 0.5;
        }

        .dark & {
          --gradient-from: var(--color-gray-900);
          --gradient-to: variables.opaque(--color-gray-900, 0);
        }
      }

      &::before {
        top: 0;
        border-top-left-radius: var(--radius-lg);
        border-top-right-radius: var(--radius-lg);
        background-image: linear-gradient(to bottom, var(--gradient-from), var(--gradient-to));
      }

      &::after {
        bottom: 0;
        border-bottom-right-radius: var(--radius-lg);
        border-bottom-left-radius: var(--radius-lg);
        background-image: linear-gradient(to top, var(--gradient-from), var(--gradient-to));
      }

      &.chat-widget__list--near-top::before,
      &.chat-widget__list--near-bottom::after {
        opacity: 0;

        .black & {
          opacity: 0;
        }
      }
    }
  }

  &__blankslate {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    height: 100%;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      align-items: center;

      max-width: 80%;

      &__title {
        @include mixins.text($size: lg, $weight: bold, $align: center);
      }

      &__body {
        @include mixins.text($theme: muted, $align: center);
      }
    }

    button {
      @include mixins.button($theme: primary);
    }
  }
}

.chat {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__messages {
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    justify-content: center;

    height: 100%;
  }
}

.chat-message-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: end;

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.5rem;

    height: 100%;
  }

  &--placeholder {
    padding-bottom: 1rem;

    > div {
      padding: 0 1rem;
    }
  }

  &__error-action button {
    @include mixins.button($theme: primary);
  }
}

.chat-message,
.shoutbox-message {
  &__container {
    position: relative;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: variables.opaque(--color-gray-200, 0.4);

      .dark & {
        background-color: variables.opaque(--color-gray-800, 0.4);
      }
    }
  }
}

.chat-message {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;

  &__container {
    &--menu-open {
      background-color: variables.opaque(--color-gray-200, 0.4);

      .dark & {
        background-color: variables.opaque(--color-gray-800, 0.4);
      }

      .chat-message__actions {
        opacity: 1;
      }
    }

    &:hover .chat-message__actions {
      opacity: 1;
    }

    &--my-message {
      .chat-message {
        margin-left: auto;

        &__actions {
          right: unset;
          left: 0.5rem;
        }

        &__content {
          align-items: flex-end;
          margin-left: auto;
        }

        &__details {
          text-align: right;
        }
      }
    }

    &--pending {
      opacity: 0.5;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    max-width: 85%;
  }

  &__actions {
    position: absolute;
    z-index: 10;
    top: 0.5rem;
    right: 0.5rem;

    display: flex;
    gap: 0.125rem;
    align-items: center;

    padding: 0.25rem;
    border-radius: var(--radius-md);

    opacity: 0;
    background: white;
    box-shadow: var(--shadow-lg);

    transition: opacity 0.15s var(--ease-default);

    .dark & {
      background: var(--color-gray-900);
      outline: 2px solid var(--color-primary-700);
    }

    &:focus-within {
      opacity: 1;
    }
  }

  &__details {
    @include mixins.text($size: xs, $theme: muted, $align: left);
  }
}

.shoutbox-message {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
  justify-content: start;

  &--my-message {
    justify-content: end;
    margin-left: auto;
  }
}

.chat-list-item {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-top: 0.75rem;
  padding-right: 0.5rem;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
  border-radius: var(--radius-lg);

  &:hover {
    background-color: var(--color-gray-100);
  }

  .dark &:hover {
    background-color: var(--color-gray-800);
  }

  > div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  &--shoutbox > div {
    justify-content: normal;
  }

  &__info {
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__avatar {
    flex: none;
  }

  &__content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    display: flex;
    flex-grow: 1;
    gap: 0.25rem;
    align-items: center;

    width: 100%;

    p {
      @include mixins.text($weight: bold, $size: sm, $align: left, $truncate: true);
    }
  }

  &__message {
    @include mixins.text($theme: muted, $size: sm, $align: inherit, $truncate: true);

    pointer-events: none;
    width: 100%;
    height: 1.25rem;

    & > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--unread {
      color: var(--color-gray-900);

      .dark & {
        color: var(--color-gray-100);
      }
    }

    &__author {
      @include mixins.text($weight: bold, $size: sm, $align: left, $theme: muted, $truncate: true);
    }

    &__author::after {
      content: ": ";
    }
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__menu {
    overflow: hidden;
    max-width: 0;
    color: var(--color-gray-600);

    &:hover {
      color: var(--color-gray-100);
    }

    .icon-button {
      color: var(--color-gray-600);

      &:hover {
        color: var(--color-gray-700);
      }

      .dark & {
        color: var(--color-gray-600);
      }

      .dark &:hover {
        color: var(--color-gray-500);
      }

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &:hover .chat-list-item__menu {
    max-width: 100%;
  }

  &__unread {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: var(--radius-full);
    background-color: var(--color-secondary-500);
  }

  &__timestamp {
    @include mixins.text($theme: muted, $size: xs, $align: right, $truncate: true);
  }

  &__unread + &__timestamp {
    color: var(--color-gray-900);

    .dark & {
      color: var(--color-gray-100);
    }
  }

  &__hotkey {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.chat-list {
  &__placeholder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.chat-widget {
  &__title__container,
  &__account__container,
  &__account__name {
    display: flex;
    align-items: center;
  }

  &__account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__container {
      display: flex;
      gap: 0.75rem;
      align-items: center;
    }

    &__name {
      flex-grow: 1;
      gap: 0.25rem;
    }
  }

  &__title {
    &__container {
      gap: 0.5rem;
    }

    &__text {
      @include mixins.text($size: sm, $weight: bold, $truncate: true);
    }
  }

  &__back-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-gray-600);

    .dark & {
      color: var(--color-gray-400);
    }

    [dir="rtl"] & {
      transform: rotate(180deg);
    }
  }

  &__settings-title {
    @include mixins.text($weight: semibold);
  }

  &__avatar {
    flex: none;
  }

  &__settings-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-right: 1rem;
    padding-left: 1rem;
  }

  &__chat-body {
    overflow: hidden;
    flex-grow: 1;

    &--shoutbox {
      gap: 0.5rem;
    }
  }
}

.chat-message {
  &__media {
    &--with-content {
      border-bottom-left-radius: var(--radius-sm);
    }

    &--my-message {
      border-bottom-right-radius: var(--radius-sm);
    }
  }

  &__menu-button {
    padding: 0.375rem;
    border-radius: var(--radius-md);
    color: var(--color-gray-600);

    &:hover {
      color: var(--color-gray-700);
      background-color: var(--color-gray-200);
    }

    &:focus {
      color: var(--color-gray-700);
      outline: none;
    }

    .dark & {
      color: var(--color-gray-600);
    }

    .dark &:hover {
      color: var(--color-gray-500);
      background-color: var(--color-gray-800);
    }

    .dark &:focus {
      color: var(--color-gray-500);
    }

    &--open {
      color: var(--color-gray-700);

      .dark & {
        color: var(--color-gray-500);
      }
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__bubble {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    max-width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius-md);

    color: var(--color-gray-900);
    text-overflow: ellipsis;
    overflow-wrap: break-word;

    background-color: var(--color-gray-200);

    .dark & {
      color: var(--color-gray-100);
      background-color: var(--color-gray-800);
    }

    .mention {
      color: var(--color-primary-600);
      text-decoration: underline;

      .dark & {
        color: var(--color-primary-400);
      }
    }

    &--with-attachment {
      border-top-left-radius: var(--radius-sm);
    }

    &--my-message {
      color: white;
      background-color: var(--color-primary-500);

      .mention {
        color: white;
      }

      &.chat-message__bubble--with-attachment {
        border-top-left-radius: var(--radius-md);
        border-top-right-radius: var(--radius-sm);
      }
    }

    &--emoji {
      padding: 0;
      background-color: transparent;
    }

    &__container {
      display: flex;
      align-items: flex-end;
      max-width: 100%;
    }
  }

  &__text {
    @include mixins.text($size: sm, $theme: inherit);
  }
}

.shoutbox-message {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    align-items: flex-start;
    order: 1;

    max-width: 85%;

    &--my-message {
      align-items: flex-end;
      order: 3;
    }
  }

  &__bubble {
    position: relative;

    max-width: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: var(--radius-md);

    color: var(--color-gray-900);
    text-overflow: ellipsis;
    overflow-wrap: break-word;

    background-color: var(--color-gray-200);

    .dark & {
      color: var(--color-gray-100);
      background-color: var(--color-gray-800);
    }

    .mention {
      color: var(--color-primary-600);
      text-decoration: underline;

      .dark & {
        color: var(--color-primary-400);
      }
    }

    &--my-message {
      color: white;
      background-color: var(--color-primary-500);

      .mention {
        color: white;
      }
    }
  }

  &__text {
    @include mixins.text($size: sm, $theme: inherit);
  }

  &__author {
    @include mixins.text($size: xs, $theme: muted);
  }
}

.chat-list-item--placeholder {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem;

  .no-reduce-motion & {
    animation: pulse 2s ease-in-out infinite;
  }

  &__row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.chat-message--placeholder {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 85%;

  .no-reduce-motion & {
    animation: pulse 2s ease-in-out infinite;
  }

  &--mine {
    margin-inline-start: auto;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .chat-message--placeholder--mine & {
      justify-content: flex-end;
    }
  }

  &__bubble {
    position: relative;

    overflow: hidden;

    padding: 0.5rem;
    border-radius: var(--radius-md);

    text-overflow: ellipsis;
    overflow-wrap: break-word;

    &--mine {
      margin-inline-end: 0.5rem;
    }

    &--theirs {
      order: 2;
      margin-inline-start: 0.5rem;
    }
  }

  &__text-block {
    border-radius: var(--radius-full);
    background-color: var(--color-primary-50);

    .dark & {
      background-color: var(--color-primary-800);
    }
  }

  &__avatar--first {
    order: 1;
  }

  &__meta {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &--mine {
      margin-inline-start: auto;
    }
  }

  &__timestamp--mine {
    text-align: end;
  }

  &__timestamp--theirs {
    order: 2;
  }

  &__timestamp-block {
    display: block;
    border-radius: var(--radius-full);
    background-color: var(--color-primary-50);

    .dark & {
      background-color: var(--color-primary-800);
    }
  }

  &__spacer-wrapper {
    order: 1;
  }

  &__spacer {
    width: 34px;
    margin-inline-start: 0.5rem;
  }
}
