@use 'mixins';

em-emoji-picker {
  --rgb-background: 0 0 0 0;
  --rgb-accent: var(--color-primary-600);
  --tw-shadow: 0 10px 15px -3px #0001, 0 4px 6px -4px #0001;
  --shadow: var(--shadow-lg);
}

.emoji-picker-dropdown {
  z-index: 101;
  min-height: 400px;
  background: white;

  .dark & {
    background: var(--color-primary-900);
  }

  .black & {
    background: var(--color-gray-900);
  }

  &__container {
    position: relative;

    .icon-button {
      margin: -0.25rem;
      padding: 0.5rem;
      color: var(--color-gray-600);
      background: transparent;

      &:hover {
        color: var(--color-gray-800);
        background: var(--color-primary-100);

        .dark & {
          color: white;
          background: var(--color-primary-800);
        }

        .black & {
          background: var(--color-gray-800);
        }
      }
    }
  }
}
