@use 'mixins';
@use 'variables';

.event-layout {
  &__article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.event-action-button {
  @include mixins.button($theme: secondary);

  min-width: max-content;

  &--primary {
    @include mixins.button($theme: primary, $size: sm);
  }
}

.event-card__manage {
  @include mixins.button($theme: secondary, $size: sm);

  &--primary {
    @include mixins.button($theme: primary, $size: sm);
  }
}

.event-header {
  &__banner-wrapper {
    margin: -1rem -1rem 0;
  }

  &__banner {
    position: relative;
    width: 100%;
    height: 8rem;
    background-color: var(--color-gray-200);

    .body--bordered & {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .dark & {
      background-color: variables.opaque(--color-gray-900, 0.5);
    }

    @media (min-width: variables.$breakpoint-sm) {
      border-radius: var(--radius-xl) var(--radius-xl) 0 0;
    }

    @media (min-width: variables.$breakpoint-lg) {
      height: 12rem;
    }
  }

  .still-image {
    position: absolute;
    inset: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    object-fit: cover;

    .body--bordered & {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    @media (min-width: variables.$breakpoint-sm) {
      border-radius: var(--radius-xl) var(--radius-xl) 0 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    @include mixins.text($size: lg, $weight: bold);

    flex-grow: 1;

    &__container {
      display: flex;
      gap: 0.5rem;
      align-items: flex-start;
      width: 100%;
    }
  }

  &__menu-button {
    height: 1.875rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__manage {
    @include mixins.button($theme: secondary, $size: sm);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__detail,
  &__organizer {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    svg {
      width: 1rem;
      height: 1rem;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }

    .mention {
      display: inline-block;
    }
  }

  &__organizer {
    flex-grow: 1;
    gap: 0.25rem;
  }
}

.event-card {
  position: relative;

  overflow: hidden;

  width: 100%;
  border-radius: var(--radius-lg);

  background-color: var(--color-gray-100);

  .body--bordered & {
    border-color: var(--card-border);
    border-width: 1px;
  }

  .dark.black & {
    background-color: #000;
  }

  .dark & {
    background-color: var(--color-primary-800);
  }

  &__action {
    &__container {
      position: absolute;
      top: 7rem;
      right: 0.75rem;
    }
  }

  &__banner {
    height: 10rem;
    background-color: var(--color-primary-200);

    .dark & {
      background-color: var(--color-gray-600);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.625rem;
  }

  &__heading {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;

    p {
      @include mixins.text($weight: semibold, $truncate: true);
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.25rem;
    column-gap: 0.5rem;

    color: var(--color-gray-700);

    .dark & {
      color: var(--color-gray-600);
    }

    .icon svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__author {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &__name {
      display: flex;
      flex-grow: 1;
      gap: 0.25rem;
      align-items: center;
    }
  }

  &__location {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

.event-date {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .icon svg {
    width: 1rem;
    height: 1rem;
  }
}

.event-information {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;

  &__content,
  &__location,
  &__date,
  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h2 {
      @include mixins.text($size: xl, $weight: bold);
    }
  }

  &__location,
  &__date {
    &__body {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      p {
        @include mixins.text;
      }
    }
  }

  &__map-link {
    color: var(--color-primary-600);

    &:hover {
      text-decoration: underline;
    }

    .dark & {
      color: var(--color-primary-400);
    }
  }

  &__links {
    ul li {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      a {
        color: var(--color-primary-600);

        &:hover {
          text-decoration-line: underline;
        }

        .dark & {
          color: var(--color-primary-400);
        }
      }
    }
  }

  @media (min-width: variables.$breakpoint-sm) {
    margin-top: 0;
    padding: 0.75rem;
  }
}

.manage-event-page {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.event-participation-request {
  &__actions {
    display: flex;
    gap: 0.5rem;

    button:first-child {
      @include mixins.button($theme: secondary, $size: sm);
    }

    button:last-child {
      @include mixins.button($theme: danger, $size: sm);
    }
  }
}

.edit-event {
  .content-type-button {
    position: absolute;
    z-index: 11 !important;
    top: 0.5rem;
    right: 0.5rem;

    @include mixins.button($theme: muted, $size: xs);

    .icon svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__banner {
    &__container {
      position: relative;

      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      height: 6rem;
      border-radius: var(--radius-lg);

      color: var(--color-primary-500);

      background-color: var(--color-primary-100);

      .dark & {
        color: #fff;
        background-color: var(--color-gray-800);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .icon-button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }

      @media (min-width: variables.$breakpoint-sm) {
        height: 8rem;
        box-shadow:
          0 1px 3px 0 #0001,
          0 1px 2px -1px #0001;

        .dark & {
          box-shadow: inset 0 0 0 1px #fff1;
        }
      }
    }

    &__alt-button {
      position: absolute;
      bottom: 0.25rem;
      left: 0.25rem;
    }
  }

  &__upload-button {
    cursor: pointer;

    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: var(--color-primary-500);

    .dark & {
      color: var(--color-primary-400);
    }

    .icon svg {
      width: 1.75rem;
      height: 1.75rem;
    }

    &__label {
      @include mixins.text($size: sm, $theme: primary, $weight: semibold, $transform: uppercase);
    }

    input[type='file'] {
      display: none;
    }
  }

  &__description {
    position: relative;
  }

  &__location {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    height: 2.375rem;

    color: var(--color-gray-700);

    .dark & {
      color: var(--color-gray-500);
    }

    &__text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &__name {
      @include mixins.text;
    }

    &__address {
      @include mixins.text($size: xs, $theme: muted);
    }
  }

  &__toggle {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &__label {
      @include mixins.text($theme: muted);

      cursor: pointer;
    }
  }

  .form__actions button {
    @include mixins.button($theme: primary);
  }

  &__editor {
    position: relative;

    display: block;

    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--color-gray-400);
    border-radius: var(--radius-md);

    color: var(--color-gray-900);

    background-color: #fff;
    outline: 1px solid transparent;

    &::placeholder {
      color: var(--color-gray-600);
    }

    &:focus-within {
      border-color: var(--color-primary-500);
    }

    .dark.black & {
      background-color: #000;
    }

    .dark & {
      border-color: var(--color-gray-800);
      color: var(--color-gray-100);
      background-color: var(--color-gray-900);
    }

    .dark &::placeholder {
      color: var(--color-gray-600);
    }

    .dark &:focus-within {
      border-color: var(--color-primary-500);
    }

    &:focus-within {
      outline-color: var(--color-primary-500);
    }

    .dark & {
      outline-color: var(--color-gray-800);

      &:focus-within {
        outline-color: var(--color-primary-500);
      }
    }

    @media (min-width: variables.$breakpoint-sm) {
      font-size: var(--text-sm);
      line-height: var(--leading-sm);
    }
  }

  .compose-form__editor__placeholder {
    padding-top: 0.5rem;
  }
}

.event-map-modal {
  max-width: 42rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  &__map {
    width: 100%;
    height: 24rem;
  }

  button {
    @include mixins.button;
  }
}

.events-page {
  &__title-row {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &__create-button {
    @include mixins.button($theme: primary, $size: sm);

    margin-left: auto;

    &--optional {
      @media (min-width: variables.$breakpoint-xl) {
        display: none;
      }
    }
  }

  &__section {
    margin-bottom: 0.5rem;
  }

  &__event {
    width: 100%;
  }
}

.event-carousel {
  position: relative;
  margin: 0 -0.25rem;

  &__button {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -1rem;

    &--left {
      left: 0.75rem;
    }

    &--right {
      right: 0.75rem;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2rem;
      height: 2rem;
      border-radius: var(--radius-full);

      background: rgb(255 255 255 / 0.5);
      backdrop-filter: blur(8px);

      svg {
        width: 1.5rem;
        height: 1.5rem;
        color: black;
      }

      .dark & {
        background: variables.opaque(--color-gray-900, 0.5);

        svg {
          color: white;
        }
      }
    }
  }
}

.event-discussion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__compose {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color-gray-200);

    .dark & {
      border-color: var(--color-gray-800);
    }
  }

  &__thread {
    @media (min-width: variables.$breakpoint-sm) {
      padding: 0.5rem;
    }
  }

  &__tombstone {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

.event-header--placeholder {
  pointer-events: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  color: var(--color-primary-50);

  .no-reduce-motion & {
    animation: pulse 2s ease-in-out infinite;
  }

  .dark & {
    color: var(--color-primary-800);
  }

  &__title {
    font-size: var(--text-lg);
    line-height: var(--leading-lg);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}

.event-card--placeholder {
  pointer-events: none;

  position: relative;

  overflow: hidden;

  width: 100%;
  border-radius: var(--radius-lg);

  color: var(--color-primary-50);

  background-color: var(--color-gray-100);

  .no-reduce-motion & {
    animation: pulse 2s ease-in-out infinite;
  }

  .dark & {
    color: var(--color-primary-800);
    background-color: var(--color-primary-800);
  }

  .body--bordered & {
    border: 1px solid var(--card-border);
  }

  .black & {
    background-color: black;
  }

  &__cover {
    height: 10rem;
    background-color: var(--color-primary-200);

    .dark & {
      background-color: var(--color-gray-600);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.625rem;
  }

  &__title {
    font-weight: 600;
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.25rem;
    column-gap: 0.5rem;

    color: var(--color-gray-700);

    .dark & {
      color: var(--color-gray-600);
    }
  }
}

.location-search {
  position: relative;

  button {
    position: absolute;
    top: 0;
    bottom: 0;
    inset-inline-end: 0;

    display: flex;
    align-items: center;

    padding: 0 0.75rem;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      color: var(--color-gray-600);
    }
  }
}
