@use 'mixins';
@use 'variables';

.group-avatar {
  position: relative;
  border-radius: var(--radius-lg);

  &--owner-ring {
    border: 2px solid var(--color-primary-600);
    outline: 2px solid white;

    .dark & {
      outline-color: var(--color-gray-800);
    }
  }

  &--owner {
    outline: 2px solid var(--color-primary-600);
  }

  &--ring {
    outline: 2px solid white;

    .dark & {
      outline-color: var(--color-gray-800);
    }
  }
}

.group-card {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 15rem;
  border-radius: var(--radius-lg);

  background-color: white;

  .dark & {
    background-color: var(--color-primary-900);
  }

  .black & {
    background-color: black;
  }

  &--framed {
    border: 1px solid var(--color-gray-300);

    .dark & {
      border-color: var(--color-primary-800);
    }
  }

  &--popover {
    .black & {
      background-color: white;
    }
  }

  &__cover {
    position: relative;

    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    flex-grow: 1;

    border-radius: var(--radius-lg) var(--radius-lg) 0 0;

    background-color: var(--color-primary-100);

    .dark & {
      background-color: var(--color-gray-800);
    }
  }

  &__cover-image {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;

    object-fit: cover;
  }

  &__avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__info {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.125rem;
    align-items: center;
    justify-content: flex-end;

    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__name {
    @include mixins.text($size: lg, $weight: bold);
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: var(--color-gray-700);

    .dark & {
      color: var(--color-gray-600);
    }
  }

  .no-reduce-motion &--placeholder {
    animation: pulse 2s ease-in-out infinite;
  }

  &__cover--placeholder {
    background-color: var(--color-gray-300);

    .dark & {
      background-color: var(--color-gray-800);
    }
  }

  &__avatar-placeholder {
    width: 4rem;
    height: 4rem;
    border-radius: var(--radius-lg);

    background-color: var(--color-gray-500);
    outline: 2px solid white;

    .dark & {
      background-color: var(--color-primary-800);
      outline-color: var(--color-primary-900);
    }
  }

  &__name--placeholder {
    pointer-events: none;
    color: var(--color-gray-500);
  }

  &__meta--placeholder {
    pointer-events: none;
    gap: 0.75rem;
    color: var(--color-gray-400);

    .dark & {
      color: var(--color-gray-600);
    }
  }
}

.placeholder-group-search {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .no-reduce-motion & {
    animation: pulse 2s ease-in-out infinite;
  }

  &__main {
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__avatar {
    flex-shrink: 0;

    width: 2.75rem;
    height: 2.75rem;
    border-radius: var(--radius-lg);

    background-color: var(--color-gray-500);

    .dark & {
      background-color: var(--color-gray-700);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    color: var(--color-gray-500);

    .dark & {
      color: var(--color-gray-700);
    }
  }

  &__name {
    @include mixins.text($theme: inherit, $weight: bold);
  }

  &__meta {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    @include mixins.text($size: sm, $theme: inherit, $weight: medium);
  }

  &__meta-text--separated {
    display: inline-flex;
    gap: 0.25rem;
    align-items: center;

    &::before {
      content: "\2022";
    }
  }

  &__action {
    width: 9rem;
    height: 2.5rem;
    border-radius: var(--radius-full);
    background-color: var(--color-gray-300);

    .dark & {
      background-color: var(--color-gray-800);
    }
  }
}

.group-header-image {
  &--missing {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-200);

    .dark & {
      background-color: variables.opaque(--color-gray-800, 0.3);
    }
  }

  &__missing-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-gray-500);

    .dark & {
      color: var(--color-gray-700);
    }
  }
}

.group-header {
  margin: -1rem -1rem 0;

  &__banner,
  &__image,
  &__image-container {
    width: 100%;
    height: 8rem;
    background-color: var(--color-gray-200);

    .dark & {
      background-color: variables.opaque(--color-gray-900, 0.5);
    }

    .body--bordered & {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    @media (min-width: variables.$breakpoint-sm) {
      border-radius: var(--radius-xl) var(--radius-xl) 0 0;
    }
  }

  &__banner--placeholder {
    position: relative;

    @media (min-width: variables.$breakpoint-lg) {
      height: 12rem;
    }
  }

  &__image,
  &__image-container {
    position: relative;
    object-position: center;

    @media (min-width: variables.$breakpoint-lg) {
      height: 13rem;
    }
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .dark & {
      background-color: variables.opaque(--color-gray-800, 0.3);
    }
  }

  &__image-link {
    position: relative;
    display: block;
    width: 100%;
  }

  &__missing-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-gray-500);

    .dark & {
      color: var(--color-gray-700);
    }
  }

  &__placeholder-body {
    padding-right: 1rem;
    padding-left: 1rem;

    @media (min-width: variables.$breakpoint-sm) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  &__placeholder-row {
    display: flex;
    gap: 1.25rem;
    align-items: flex-end;
    margin-top: -3rem;
  }

  &__banner {
    position: relative;
  }

  &__avatar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    &--placeholder {
      width: 6rem;
      height: 6rem;
      border-radius: var(--radius-lg);

      background-color: var(--color-gray-400);
      outline: 4px solid white;

      .dark & {
        outline-color: var(--color-gray-800);
      }
    }

    &__container {
      position: relative;
      display: flex;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;

    width: calc(100% / 6 * 5);
    margin: 2.5rem auto 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__name {
    @include mixins.text($size: xl, $weight: bold, $align: center);
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
  }

  &__meta-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    color: var(--color-gray-700);

    .dark & {
      color: var(--color-gray-600);
    }
  }

  &__note {
    @include mixins.text($theme: muted, $align: center);

    a {
      color: var(--color-primary-600);

      &:hover {
        text-decoration: underline;
      }
    }

    .dark & a {
      color: var(--color-primary-400);
    }
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  @media (min-width: variables.$breakpoint-sm) {
    margin: -1.5rem -1.5rem 0;
  }
}

.group-list-item,
.group-member-list-item,
.group-member-action-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__action {
    @include mixins.button($theme: secondary);
  }
}

.group-action-button {
  @include mixins.button;

  &--primary {
    @include mixins.button($theme: primary);
  }
}

.group-popover__action button {
  @include mixins.button($theme: secondary, $block: true);
}

.edit-group__submit {
  @include mixins.button($theme: primary, $block: true);
}

.group-list-item {
  &__link {
    overflow: hidden;
  }

  &__main {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include mixins.text($weight: bold, $truncate: true);
  }

  &__meta {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    color: var(--color-gray-700);

    .dark & {
      color: var(--color-gray-600);
    }

    svg {
      width: 1.125rem;
      height: 1.125rem;
    }

    p {
      @include mixins.text($size: sm, $theme: inherit, $weight: medium);
    }
  }
}

.group-member-count {
  &:hover {
    text-decoration: underline;
  }

  &__text {
    display: inline-flex;
    gap: 0.25rem;
    align-items: center;

    @include mixins.text($size: sm, $theme: inherit, $weight: medium);
  }
}

.group-options-button {
  align-self: stretch;
  padding-right: 0.625rem;
  padding-left: 0.625rem;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.group-privacy {
  cursor: help;
  display: flex;
  gap: 0.25rem;
  align-items: center;

  svg,
  p {
    flex: none;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  p {
    @include mixins.text($size: sm, $theme: inherit, $weight: medium);
  }

  &__popover {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    width: 18rem;

    &__icon {
      padding: 0.75rem;
      border-radius: var(--radius-full);
      background-color: var(--color-gray-200);

      .dark & {
        background-color: var(--color-gray-800);
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        color: var(--color-gray-600);
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      align-items: center;
    }

    &__title {
      @include mixins.text($size: lg, $weight: bold, $align: center);
    }

    &__text {
      @include mixins.text($theme: muted, $align: center);
    }
  }
}

.group-relationship {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--color-primary-600);

  .dark & {
    color: var(--color-primary-400);
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  p {
    @include mixins.text($size: sm, $theme: inherit, $weight: medium);
  }
}

.group-popover {
  &__trigger {
    cursor: pointer;
    display: inline-block;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 20rem;
    padding-bottom: 1rem;
  }

  &__message {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;

    padding-right: 1rem;
    padding-left: 1rem;
  }

  &__title {
    @include mixins.text($weight: semibold);
  }

  &__summary {
    @include mixins.text($theme: muted);
  }

  &__action {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.group-member-list-item,
.group-member-action-row {
  gap: 0.25rem;
  padding: 0.625rem;
}

.group-member-list-item {
  &__account {
    width: 100%;
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

.group-member-role {
  @include mixins.text($size: xs, $weight: medium);

  display: inline-flex;
  align-items: center;

  padding: 0.25rem 0.5rem;
  border-radius: var(--radius-sm);

  text-transform: capitalize;

  &--owner {
    color: var(--color-primary-500);
    background-color: var(--color-primary-200);

    .dark & {
      color: var(--color-primary-200);
      background-color: var(--color-primary-800);
    }
  }

  &--admin {
    color: var(--color-gray-900);
    background-color: var(--color-gray-200);

    .dark & {
      color: var(--color-gray-100);
      background-color: var(--color-gray-800);
    }
  }

  &--moderator {
    color: var(--color-cyan-600);
    background-color: variables.opaque(--color-cyan-600, 0.15);

    .dark & {
      background-color: variables.opaque(--color-cyan-600, 0.25);
    }
  }
}

.group-member-action-row {
  &__account {
    width: 100%;
  }
}

.pending-items-row {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__badge {
    padding: 0.625rem;
    border-radius: var(--radius-full);
    color: var(--color-primary-500);
    background-color: var(--color-primary-200);

    .dark & {
      color: var(--color-primary-200);
      background-color: var(--color-primary-800);
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__label {
    @include mixins.text($weight: bold);
  }

  &__caret {
    width: 1.25rem;
    height: 1.25rem;

    color: var(--color-gray-600);

    transition-timing-function: var(--ease-default);
    transition-duration: 150ms;
    transition-property: color;
  }

  &:hover &__caret {
    color: var(--color-gray-700);

    .dark & {
      color: var(--color-gray-500);
    }
  }
}

.group-members {
  &__item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__pending {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &--bordered {
      border-bottom: 1px solid var(--color-gray-200);

      .dark & {
        border-bottom-color: var(--color-gray-800);
      }
    }
  }
}

.edit-group__locked-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-gray-600);
}

.groups-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__create-button {
    @include mixins.button($theme: secondary, $block: true);

    &--optional {
      @media (min-width: variables.$breakpoint-xl) {
        display: none;
      }
    }
  }

  &__item {
    padding-bottom: 1rem;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.groups-empty {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 24rem;
  }

  &__title {
    @include mixins.text($size: 2xl, $weight: bold, $align: center);
  }

  &__subtitle {
    @include mixins.text($size: sm, $theme: muted, $align: center);
  }

  &__button {
    @include mixins.button($theme: secondary);

    align-self: center;
  }
}

.manage-group {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__danger-label {
    @include mixins.text($theme: danger);
  }
}

.group-timeline {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__compose {
    padding: 1.5rem 0;
    border: 1px solid var(--color-gray-200);

    .dark & {
      border-color: var(--color-gray-800);
    }
  }
}

.group-privacy-blankslate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  padding: 2.5rem 0;

  &__icon {
    padding: 0.75rem;
    border-radius: var(--radius-full);
    background-color: var(--color-gray-200);

    .dark & {
      background: var(--color-gray-800);
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--color-gray-600);
    }
  }

  p {
    @include mixins.text($theme: muted);
  }
}
