@font-face {
  font-family: 'nicolium workaround';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/inter/files/inter-latin-400-normal.woff2') format('woff2'),
    url('@fontsource/inter/files/inter-latin-400-normal-normal.woff') format('woff');
  unicode-range: U+0020;
}

@font-face {
  font-family: 'nicolium i18n';
  font-weight: 200;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/tajawal/files/tajawal-arabic-200-normal.woff2') format('woff2'),
    url('@fontsource/tajawal/files/tajawal-arabic-200-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'nicolium i18n';
  font-weight: 300;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/tajawal/files/tajawal-arabic-300-normal.woff2') format('woff2'),
    url('@fontsource/tajawal/files/tajawal-arabic-300-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'nicolium i18n';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/tajawal/files/tajawal-arabic-400-normal.woff2') format('woff2'),
    url('@fontsource/tajawal/files/tajawal-arabic-400-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'nicolium i18n';
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/tajawal/files/tajawal-arabic-500-normal.woff2') format('woff2'),
    url('@fontsource/tajawal/files/tajawal-arabic-500-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'nicolium i18n';
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/tajawal/files/tajawal-arabic-700-normal.woff2') format('woff2'),
    url('@fontsource/tajawal/files/tajawal-arabic-700-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'nicolium i18n';
  font-weight: 800;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/tajawal/files/tajawal-arabic-800-normal.woff2') format('woff2'),
    url('@fontsource/tajawal/files/tajawal-arabic-800-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-family: 'nicolium i18n';
  font-weight: 900;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/tajawal/files/tajawal-arabic-900-normal.woff2') format('woff2'),
    url('@fontsource/tajawal/files/tajawal-arabic-900-normal.woff') format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}

/* noto-sans-javanese-javanese-400-normal */
@font-face {
  font-family: 'nicolium i18n';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-400-normal.woff2')
    format('woff2'),
    url('@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-400-normal.woff')
    format('woff');
  unicode-range: U+A980-A9DF;
}

/* noto-sans-javanese-javanese-500-normal */
@font-face {
  font-family: 'nicolium i18n';
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-500-normal.woff2')
    format('woff2'),
    url('@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-500-normal.woff')
    format('woff');
  unicode-range: U+A980-A9DF;
}

/* noto-sans-javanese-javanese-600-normal */
@font-face {
  font-family: 'nicolium i18n';
  font-weight: 600;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-600-normal.woff2')
    format('woff2'),
    url('@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-600-normal.woff')
    format('woff');
  unicode-range: U+A980-A9DF;
}

/* noto-sans-javanese-javanese-700-normal */
@font-face {
  font-family: 'nicolium i18n';
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src:
    url('@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-700-normal.woff2')
    format('woff2'),
    url('@fontsource/noto-sans-javanese/files/noto-sans-javanese-javanese-700-normal.woff')
    format('woff');
  unicode-range: U+A980-A9DF;
}
