@use 'mixins';
@use 'variables';

html {
  --font-sans:
    nicolium workaround, nicolium i18n, 'Inter', ui-sans-serif, system-ui, -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'Roboto Mono', ui-monospace, monospace;

  height: 100%;
}

html:has(body.with-modals),
body.with-modals {
  touch-action: none;
  scrollbar-gutter: stable;
  overscroll-behavior: none;
}

body {
  height: 100%;

  font-size: var(--text-base);

  background-color: var(--color-primary-50);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .dark.black & {
    background-color: #000;
  }

  .dark & {
    background-color: var(--color-gray-800);
  }

  .body--bordered & {
    background-color: var(--card-background);
  }

  &.system-font,
  &.system-font .font-sans {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      sans-serif;
  }

  &.system-font .font-mono {
    font-family: ui-monospace, monospace;
  }

  &.with-modals {
    overflow: hidden;
  }
}

.noscript {
  position: absolute;
  inset: 0;
  padding: 1rem;
  text-align: center;

  a {
    @include mixins.text($size: inherit, $theme: subtle);

    text-decoration-line: underline;
  }
}

#app {
  height: 100%;
}

.dropdown-navigation {
  position: fixed;
  z-index: 1000;
  bottom: 60px;
  inset-inline-start: 0.5rem;
  transform-origin: bottom left;

  overflow: hidden;
  display: flex;
  flex: 1 1 0%;

  width: 20rem;
  max-width: 20rem;
  max-height: calc(100dvh - 68px);
  border-radius: var(--radius-xl);

  background-color: #fffe;
  backdrop-filter: blur(12px) saturate(2);
  box-shadow: var(--shadow-lg);

  transition-timing-function: var(--ease-default);

  .dark.black & {
    background-color: #000b;
  }

  .no-reduce-motion & {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 150ms var(--ease-default), opacity 150ms var(--ease-default);
  }

  .dark & {
    border-color: var(--color-gray-800);
    border-width: 1px;
    background-color: variables.opaque(--color-primary-900, 0.9);
    box-shadow: none;
  }

  [dir='rtl'] & {
    transform-origin: bottom right;
  }

  &__overlay {
    cursor: default;

    position: fixed;
    inset: 0;

    opacity: 0;
    background-color: var(--color-gray-500);

    .dark.black & {
      background-color: var(--color-gray-900);
    }

    .no-reduce-motion & {
      transition: opacity 150ms var(--ease-default);
    }

    .dark & {
      background-color: var(--color-gray-700);
    }
  }

  &__container {
    z-index: 1000;

    &:not(&--partially-visible) {
      display: none;
    }

    &--visible {
      .dropdown-navigation {
        transform: scale(1);
        opacity: 1;

        &__overlay {
          opacity: 0.2;
        }
      }
    }

    &:not(&--visible) {
      .dropdown-navigation__overlay {
        .no-reduce-motion & {
          opacity: 0;
        }
      }
    }
  }

  &__pages {
    position: relative;
    left: 0;
    display: flex;
    transition: left 150ms var(--ease-default);
  }

  &[data-active-page="more"] .dropdown-navigation__pages {
    left: -20rem;

    [dir='rtl'] & {
      left: 20rem;
    }
  }

  &__page {
    position: relative;

    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    row-gap: 1rem;

    width: 20rem;
    min-width: 20rem;
    height: 100%;
    padding: 1rem;

    &__header {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      p {
        @include mixins.text($weight: bold);
      }
    }
  }

  &__account-switcher {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding-top: 0.25rem;
      padding-bottom: 0.25rem;

      span {
        @include mixins.text;
      }

      .icon {
        color: var(--color-gray-900);
        transition: transform 150ms var(--ease-default);

        .dark & {
          color: var(--color-gray-100);
        }

        > svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    &__accounts {
      border-color: var(--color-gray-100);
      border-style: solid;
      border-top-width: 2px;

      .body--bordered & {
        border-top-width: 1px;
      }

      .dark & {
        border-color: var(--color-gray-800);
      }
    }

    &__account {
      display: block;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &__add {
      display: flex;
      align-items: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      & > :not([hidden]) ~ :not([hidden]) {
        margin-left: 0.25rem;
      }

      .icon svg {
        width: 1rem;
        height: 1rem;
        color: var(--color-primary-500);
      }

      p {
        @include mixins.text($size: sm, $weight: medium);
      }
    }

    &--expanded button .icon {
      transform: rotate(180deg);
    }
  }

  .sidebar-navigation-link {
    gap: 0.5rem;
    padding: 0;

    &__icon {
      padding: 0.5rem;
    }

    p {
      @include mixins.text($weight: medium);
    }

    &:not(&--active) {
      .sidebar-navigation-link__icon {
        .dark & {
          background-color: var(--color-gray-800);

          svg {
            color: var(--color-primary-500);
          }
        }
      }
    }

    .black &:hover {
      border-radius: var(--radius-lg);
      background: var(--color-gray-800);
    }
  }
}

.thumb-navigation {
  position: fixed;
  z-index: 50;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-x: auto;
  display: flex;

  width: 100%;
  padding-bottom: var(--safe-area-inset-bottom, 0);
  border-color: var(--color-gray-200);
  border-style: solid;
  border-top-width: 1px;

  background-color: #fffe;
  backdrop-filter: blur(12px) saturate(2);
  box-shadow: 0 25px 50px -12px #0004;

  .body--bordered & {
    box-shadow: none;
  }

  .dark.black & {
    background-color: #000b;
  }

  .dark & {
    border-color: var(--color-gray-800);
    background-color: variables.opaque(--color-primary-900, 0.9);
  }

  &__item {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;

    font-size: var(--text-lg);
    line-height: var(--leading-lg);
    color: var(--color-gray-600);

    .icon {
      color: var(--color-gray-600);

      .dark.black & {
        color: #fff;
      }

      svg,
      img {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    &--active .icon {
      color: var(--color-primary-500);
    }

    &--compose {
      padding-top: 0.875rem;
      padding-right: 0.375rem;
      padding-bottom: 0.875rem;
      padding-left: 0.375rem;

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &:has(.avatar) {
      padding: 0.5rem;
    }

    .avatar {
      border-radius: var(--radius-full);
      outline: 2px solid var(--color-gray-200);

      .black & {
        outline-color: var(--color-gray-800);
      }
    }
  }

  &__sidebar-dot {
    position: absolute;
    top: 0;
    right: 0;

    width: 1rem;
    height: 1rem;
    border-radius: var(--radius-full);

    background: var(--color-primary-400);
    box-shadow: var(--shadow-lg);
  }

  &--no-items {
    overflow: unset;

    width: fit-content;
    margin: 0.5rem;
    border-radius: var(--radius-full);

    box-shadow: 0 8px 24px 0 rgb(0, 0, 0, 0.2);

    .dark & {
      border: 1px solid var(--color-gray-600);
    }

    .black & {
      border: 1px solid variables.opaque(--color-gray-200, 0.5);
    }

    .thumb-navigation__item {
      flex: 0;
      padding: 0.75rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  @media (min-width: variables.$breakpoint-sm) {
    display: none;
  }
}

.sidebar-navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    &__account {
      position: relative;
      display: flex;
      align-items: center;

      &__expand {
        color: var(--color-gray-600);

        &:hover {
          color: var(--color-gray-700);
        }

        .dark & {
          color: var(--color-gray-600);
        }

        .dark &:hover {
          color: var(--color-gray-500);
        }
      }
    }
  }

  .site-logo {
    cursor: pointer;
    width: auto;
    height: 3rem;
    object-fit: contain;

    &--left {
      width: fit-content
    }
  }

  &--narrow {
    align-items: center;
    width: fit-content;

    .site-logo {
      max-width: 2.5rem;
      height: auto;
    }

    .sidebar-navigation-link > p {
      display: none;
    }

    .sidebar-navigation__compose-button {
      width: fit-content;
      padding: 0.75rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 0.375rem;

    hr {
      margin: 0.5rem 0;
      border-color: var(--card-border);

      // background in non-bordered is gray-800
      .dark & {
        border-color: var(--color-gray-900);
      }

      .body--bordered & {
        border-color: var(--card-border);
      }
    }

    &__account {
      display: contents;

      @media (min-width: variables.$breakpoint-xl) {
        display: none;
      }
    }
  }

  &__compose-button {
    @include mixins.button($theme: accent, $size: lg, $block: true);

    svg {
      width: 1rem;
      height: 1rem;
    }

    &__group {
      display: flex;
      gap: 0.75rem;
      align-items: center;

      .still-image {
        margin: -0.25rem 0;
        border: 2px solid white;
      }
    }
  }
}

.sidebar-navigation-link {
  display: flex;
  gap: 1rem;
  align-items: center;

  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  font-size: var(--text-sm);
  font-weight: 600;
  line-height: var(--leading-sm);

  transition:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke 200ms var(--ease-default);

  [dir='rtl'] & {
    flex-direction: row-reverse;
  }

  &__icon {
    position: relative;

    display: inline-flex;

    padding: 0.625rem;
    border-radius: var(--radius-lg);

    transition:
      color,
      background-color,
      border-color,
      text-decoration-color,
      fill,
      stroke 200ms var(--ease-default);

    svg,
    img {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &--active {
    color: var(--color-gray-900);

    .dark & {
      color: #fff;
    }

    .sidebar-navigation-link__icon {
      background-color: var(--color-primary-600);

      svg {
        color: #fff;
      }
    }
  }

  &:not(&--active) {
    color: var(--color-gray-700);

    &:hover {
      color: var(--color-gray-700);
    }

    .dark & {
      color: var(--color-gray-400);
    }

    .dark &:hover {
      color: var(--color-gray-200);
    }

    .sidebar-navigation-link__icon {
      background-color: var(--color-primary-100);

      .dark & {
        background-color: var(--color-gray-900);
      }

      svg {
        color: var(--color-primary-700);

        .dark & {
          color: #fff;
        }
      }
    }
  }

  &:hover:not(&--active) &__icon {
    background-color: var(--color-primary-200);

    .dark.black & {
      background-color: var(--color-gray-800);
    }

    .dark & {
      background-color: var(--color-gray-700);
    }
  }

  > p {
    @include mixins.text($weight: semibold, $theme: inherit);
  }

  .sidebar-navigation--dense & {
    &__icon {
      padding: 0;
      background: none !important;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      .icon__counter {
        top: -0.75rem;
      }
    }

    &--active {
      color: var(--color-primary-500);

      .sidebar-navigation-link__icon svg {
        color: var(--color-primary-500);
      }
    }

    &:not(&--active) {
      .dark & {
        &,
        .sidebar-navigation-link__icon svg {
          color: var(--color-gray-200);
        }
      }

      &:hover,
      &:hover .sidebar-navigation-link__icon svg {
        color: var(--color-primary-900);

        .dark & {
          color: white;
        }
      }
    }
  }

  @media (height >= 960px) {
    padding: 0.5rem 0;
  }
}

.profile-dropdown {
  &__toggle {
    width: 100%;
    border-radius: var(--radius-lg);

    &:focus {
      outline: 2px solid var(--color-primary-500);
      outline-offset: 2px;
    }

    .dark & {
      outline-color: var(--color-gray-800);
      outline-offset: 0;
    }

    .dark &:focus {
      outline-color: var(--color-primary-500);
    }
  }

  hr {
    margin: 0.25rem 0.5rem;
    border-top: 1px solid var(--card-border);
  }

  label {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    padding: 0.25rem 1rem;

    font-size: var(--text-sm);
    line-height: var(--leading-sm);
    color: var(--color-gray-700);

    .dark & {
      color: var(--color-gray-400);
    }
  }

  .profile-dropdown__account__switch,
  > a,
  > button {
    cursor: pointer;

    overflow: hidden;
    display: block;

    width: 100%;
    padding: 0.625rem 1rem;

    font-size: var(--text-sm);
    line-height: var(--leading-sm);
    color: var(--color-gray-700);
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    outline: none;

    [dir='rtl'] & {
      text-align: right;
    }

    .dark & {
      color: var(--color-gray-500);
    }

    &:hover {
      background-color: var(--color-gray-100);
    }

    .dark &:hover {
      background-color: var(--color-gray-800);
    }
  }

  &__account--placeholder {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;

    button svg {
      width: 1rem;
      min-width: 1rem;
      height: 1rem;
    }

    .account--placeholder {
      overflow: hidden;
    }
  }
}

.profile-dropdown__account__switch,
.dropdown-navigation__account-switcher__account {
  &:focus {
    background-color: var(--color-gray-100);
    outline: 2px solid var(--color-primary-500);
    outline-offset: 2px;
  }

  .dark &:focus {
    background-color: var(--color-gray-800);
  }

  .dark &:focus {
    outline-offset: 0;
  }
}

.modal-root {
  opacity: 0;

  &:not(&--visible) {
    z-index: 50;
    transition: all 150ms var(--ease-default);
  }

  &--visible {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: 100dvh;

    transition: opacity 150ms var(--ease-default);
  }

  &--revealed {
    opacity: 1;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background-color: variables.opaque(--color-gray-500, 0.9);

    .dark.black & {
      background-color: variables.opaque(--color-gray-900, 0.9);
    }

    .dark & {
      background-color: variables.opaque(--color-gray-700, 0.9);
    }
  }

  &__container {
    pointer-events: none;

    position: fixed;
    z-index: 9999;
    top: 0;
    inset-inline-start: 0;

    overscroll-behavior: none;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
  }

  &[data-modal-type='DROPDOWN_MENU'] &__overlay {
    opacity: 0.6;
  }

  &[data-modal-type='DROPDOWN_MENU'] {
    .modal-root__container {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  &:not([data-modal-type='MEDIA']) &__container {
    display: flex;
    padding: 0 1rem;

    @media (min-width: variables.$breakpoint-md) {
      padding: 0;
    }
  }
}

.skip-links {
  position: absolute;
  z-index: 10;
  top: -4rem;

  display: flex;
  gap: 0.5rem;

  padding: 0.5rem;

  &:focus-within {
    top: 0;
  }

  button {
    @include mixins.button($theme: secondary);
  }
}

.layout {
  z-index: 1;
  display: flex;
  flex-grow: 1;

  &__content {
    flex-grow: 1;

    width: 100%;

    // FIXME: min-h-[100dvh] is a workaround for some Ladybird bug
    min-height: 100dvh;
    margin-right: auto;
    margin-left: auto;

    .body--bordered:root & {
      padding-top: 0;
    }

    &--full-width {
      display: flex;
      width: 100%;

      @media (min-width: variables.$breakpoint-sm) {
        padding-right: 0;
      }

      @media (min-width: variables.$breakpoint-md) {
        max-width: 100%;
      }
    }

    &:not(&--full-width) {
      @media (min-width: variables.$breakpoint-sm) {
        display: flex;
        gap: 1rem;
        padding: 1rem 1rem 0;
      }

      @media (min-width: variables.$breakpoint-md) {
        gap: 2rem;
        padding: 1rem 2rem 0;
      }

      @media (min-width: variables.$breakpoint-lg) {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        max-width: 80rem;
      }

      @media (min-width: variables.$breakpoint-xl) {
        max-width: 90rem;
      }
    }

    @media (min-width: variables.$breakpoint-sm) {
      padding: 1rem 1.5rem 0;
    }

    @media (min-width: variables.$breakpoint-md) {
      gap: 1rem;
      padding-inline-start: 2rem;
      padding-inline-end: 2rem;

      :has(.deck) & {
        padding-inline-end: 0;

        .body--reverse & {
          padding-inline-start: 0;
          padding-inline-end: 2rem;
        }
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__sidebar {
    display: none;

    &--shrink {
      width: 2.5rem;
    }

    &:not(&--shrink) {
      grid-column: span 3 / span 3;
    }

    &__content {
      padding-bottom: 1rem;
    }

    .body--reverse & {
      order: 3;
    }

    @media (min-width: variables.$breakpoint-sm) {
      display: block;
    }
  }

  &__main {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    padding-bottom: calc(3.25rem + 1px + var(--safe-area-inset-bottom, 0px));

    .body--bordered & {
      border-color: var(--card-border);
    }

    &--with-chats {
      @media (min-width: variables.$breakpoint-xl) {
        padding-bottom: 4rem;
      }
    }

    &--groups {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .window-controls-overlay & {
      padding-top: env(titlebar-area-height);

      @media (min-width: variables.$breakpoint-lg) {
        .window-controls-overlay:not(.window-controls-overlay--right) & {
          padding-top: 0;
        }
      }

      @media (min-width: variables.$breakpoint-xl) {
        padding-top: 0;
      }
    }

    &__banner {
      @include mixins.text($theme: muted);

      margin: 0 1rem;

      .body--bordered & {
        margin: 1rem;
      }

      a {
        text-decoration-line: underline;
      }

      @media (min-width: variables.$breakpoint-sm) {
        margin-right: 0;
        margin-left: 0;
      }
    }

    .body--reverse & {
      order: 2;
    }

    @media (min-width: variables.$breakpoint-sm) {
      .body--bordered & {
        border-left-width: 1px;
      }

      .body--reverse.body--bordered & {
        border-right-width: 1px;
        border-left-width: 0;
      }
    }

    @media (min-width: variables.$breakpoint-lg) {
      grid-column: span 9 / span 9;
    }

    @media (min-width: variables.$breakpoint-xl) {
      grid-column: span 6 / span 6;

      .body--bordered & {
        border-right-width: 1px;
      }

      .body--reverse.body--bordered & {
        border-left-width: 1px;
      }

      .layout:not(:has(.layout__aside, .layout__settings-sections, .layout__admin-sections)) & {
        grid-column: span 9 / span 9;
      }
    }
  }

  &__aside {
    display: none;
    grid-column: span 3 / span 3;

    &__content {
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 1rem);
      padding-bottom: 1rem;

      .layout__main--with-chats & {
        padding-bottom: 3rem;
      }

      & > :not([hidden]) ~ :not([hidden]) {
        margin-top: 1rem;
      }
    }

    .body--reverse & {
      order: 1;
    }

    @media (min-width: variables.$breakpoint-xl) {
      display: block;
    }
  }

  &__full-width {
    grid-column: span 12 / span 12;
    width: 100%;

    &:has(.deck) {
      position: relative;
      overflow-x: auto;
    }

    &:has(.deck--mobile-full-width) {
      @media (max-width: variables.$breakpoint-sm) {
        scroll-padding: 0 1rem;
        scroll-snap-type: x mandatory;
      }
    }

    &:has(.deck__column--fill) {
      flex-grow: 1;
    }
  }

  &__settings-sections,
  &__admin-sections {
    display: none;
    grid-column: span 3 / span 3;

    .body--bordered & {
      margin-right: -2rem;
      border-left: 1px solid var(--card-border);

      .column {
        padding-top: 0;
      }
    }

    .card-header {
      display: none;
    }

    .edit-profile-link__display-name {
      display: none;
    }

    @media (min-width: variables.$breakpoint-xl) {
      display: block;
    }
  }

  &__chats {
    flex-grow: 1;

    @media (min-width: variables.$breakpoint-md) {
      grid-column: span 12 / span 12;
    }

    @media (min-width: variables.$breakpoint-lg) {
      grid-column: span 9 / span 9;

      .body--bordered & {
        border: 1px solid var(--card-border);
        border-top: none;
        border-bottom: none;
      }
    }
  }
}

.widget {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-bottom: 1.5rem;
  border-color: var(--color-gray-200);
  border-style: solid;
  border-bottom-width: 1px;

  .dark & {
    @include mixins.card($variant: rounded);

    border-color: var(--color-primary-800);
    border-style: none;
  }

  .body--bordered & {
    padding: 0;
    padding-bottom: 1.5rem;
    border-color: var(--card-border);
    border-style: solid;
  }

  &:last-child {
    padding-bottom: 0!important;
    border: none!important;
  }

  &__header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;

    h1 {
      @include mixins.text($size: xl, $weight: bold);
    }
  }

  &__icons {
    display: flex;
    gap: 0.25rem;
  }

  &__icons button,
  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 0.5rem;
    color: #000;

    .dark & {
      color: #fff;
    }

    [dir='rtl'] & {
      transform: rotate(180deg);
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  a.widget__icon {
    padding: 0.25rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}

.footer-text {
  @include mixins.text($size: sm, $theme: muted);

  margin-top: auto !important;

  & + .footer-text {
    margin-top: 1rem !important;
  }

  a {
    @include mixins.text($size: inherit, $theme: subtle);

    text-decoration-line: underline;
  }
}

.separator::before {
  @include mixins.text($size: sm, $theme: muted);

  content: '·';
  user-select: none;
}

.site-error {
  display: flex;
  flex-direction: column;

  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 3rem;

  background-color: #fff;

  .dark.black & {
    background-color: #000;
  }

  .dark & {
    background-color: var(--color-primary-900);
  }

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;

    @media (min-width: variables.$breakpoint-sm) {
      padding-inline-start: 1.5rem;
      padding-inline-end: 1.5rem;
    }

    @media (min-width: variables.$breakpoint-md) {
      padding-inline-start: 2rem;
      padding-inline-end: 2rem;
    }
  }

  &__body {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__message {
    max-width: 36rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    & > :not([hidden]) ~ :not([hidden]) {
      margin-top: 0.5rem;
    }

    h1 {
      font-size: 1.875rem;
      font-weight: 800;
      line-height: var(--leading-3xl);
      color: var(--color-gray-900);
      letter-spacing: -0.025em;

      .dark & {
        color: var(--color-gray-500);
      }

      @media (min-width: variables.$breakpoint-sm) {
        font-size: 2.25rem;
        line-height: 2.5rem;
      }
    }

    &__body {
      font-size: var(--text-lg);
      line-height: var(--leading-lg);
      color: var(--color-gray-700);

      .dark & {
        color: var(--color-gray-600);
      }

      a {
        color: var(--color-primary-600);

        &:hover {
          text-decoration-line: underline;
        }

        .dark & {
          color: var(--color-primary-400);
        }
      }
    }
  }

  &__form {
    max-width: 32rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;

    & > :not([hidden]) ~ :not([hidden]) {
      margin-top: 1rem;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__message__version,
  &__browser {
    @include mixins.text($theme: muted);

    span {
      font-weight: 600;
    }
  }

  footer {
    flex-shrink: 0;

    width: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem;

    @media (min-width: variables.$breakpoint-sm) {
      padding: 0 1.5rem;
    }

    @media (min-width: variables.$breakpoint-lg) {
      padding: 0 2rem;
    }
  }

  nav {
    display: flex;
    gap: 1rem;
    justify-content: center;

    span {
      display: inline-block;
      border-color: var(--color-gray-300);
      border-left-width: 1px;
    }

    a {
      font-size: var(--text-sm);
      font-weight: 500;
      line-height: var(--leading-sm);
      color: var(--color-gray-700);

      &:hover {
        text-decoration-line: underline;
      }

      .dark & {
        color: var(--color-gray-600);
      }
    }
  }

  &__logo {
    display: flex;
    flex-shrink: 0;
    justify-content: center;

    img {
      width: auto;
      height: 3rem;
    }
  }

  @media (min-width: variables.$breakpoint-md) {
    grid-column: span 12 / span 12;
  }

  @media (min-width: variables.$breakpoint-lg) {
    grid-column: span 9 / span 9;
  }

  @media (min-width: variables.$breakpoint-xl) {
    grid-column: span 6 / span 6;
  }
}

.network-error {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  min-height: 160px;
  padding: 2.5rem;
  border-radius: var(--radius-lg);

  p {
    @include mixins.text($align: center, $theme: muted);
  }
}

.layout__content .site-error {
  height: fit-content;
}

.toast {
  pointer-events: auto;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
  max-width: 24rem;
  padding: 1rem;
  border-radius: var(--radius-lg);

  background-color: #fff;
  box-shadow: var(--shadow-lg);

  .dark.black & {
    background-color: #000;
  }

  .dark & {
    background-color: var(--color-gray-900);
    outline: 2px solid var(--color-gray-800);
  }

  &--visible {
    animation: enter 200ms ease-out;

    @keyframes enter {
      from {
        transform: scale(0.9);
        opacity: 0;
      }

      to {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &:not(&--visible) {
    animation: leave 150ms ease-in forwards;

    @keyframes leave {
      from {
        transform: scale(1);
        opacity: 1;
      }

      to {
        transform: scale(0.9);
        opacity: 0;
      }
    }
  }

  > div {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }

  &__body {
    display: flex;
    flex: 1 1 0%;
    gap: 0.75rem;
    align-items: flex-start;
    justify-content: space-between;

    width: 0;

    button,
    a {
      flex-shrink: 0;

      margin-top: 0.125rem;
      border-radius: var(--radius-full);

      font-size: var(--text-sm);
      font-weight: 500;
      line-height: var(--leading-sm);
      color: var(--color-primary-600);

      &:hover {
        text-decoration-line: underline;
      }

      &:focus {
        outline: none;
      }

      .dark & {
        color: var(--color-primary-400);
      }
    }
  }

  &__content {
    display: flex;
    flex: 1 1 0%;
    gap: 0.75rem;
    align-items: flex-start;

    width: 0;

    p {
      padding-top: 0.125rem;

      @include mixins.text($weight: normal, $size: sm);
    }
  }

  &:has(> p) .toast__body p {
    font-weight: 500;
  }

  &__icon {
    flex-shrink: 0;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  > p {
    @include mixins.text($theme: muted, $size: sm);
  }

  &__dismiss {
    display: flex;
    flex-shrink: 0;
    padding-top: 0.125rem;

    button {
      display: inline-flex;
      border-radius: var(--radius-md);
      color: var(--color-gray-600);

      &:hover {
        color: var(--color-gray-700);
      }

      &:focus {
        outline: 2px solid var(--color-primary-500);
        outline-offset: 2px;
      }

      .dark & {
        color: var(--color-gray-600);
      }

      .dark &:hover {
        color: var(--color-gray-500);
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  &__container {
    top: 1rem;
  }

  &--success .toast__icon svg {
    color: var(--color-success-500);

    .dark & {
      color: var(--color-success-400);
    }
  }

  &--info .toast__icon svg {
    color: var(--color-primary-600);

    .dark & {
      color: var(--color-primary-400);
    }
  }

  &--error .toast__icon svg {
    color: var(--color-danger-600);
  }
}

.navlinks {
  position: relative;
  max-width: 80rem;
  margin: auto auto 0;
  padding: 2rem 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      padding: 0.5rem 1.25rem;

      a {
        @include mixins.text($size: sm, $theme: inherit);

        color: var(--color-primary-600);

        .dark & {
          color: var(--color-primary-400);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__copyright {
    @include mixins.text($size: sm, $theme: muted, $align: center);

    margin-top: 1.5rem;
  }
}

.logo-text {
  overflow: hidden;

  font-size: var(--text-5xl);
  font-weight: 800;
  line-height: 1.25;
  color: transparent;
  text-overflow: ellipsis;

  background-image: linear-gradient(to right bottom, var(--color-accent-500), var(--color-primary-500), var(--color-gradient-end));
  background-clip: text;

  @media (min-width: variables.$breakpoint-lg) {
    font-size: var(--text-6xl);
  }

  @media (min-width: variables.$breakpoint-xl) {
    font-size: var(--text-7xl);
  }
}

.site-banner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .logo-text {
    margin: -1.25rem 0;
  }

  [data-markup] {
    @include mixins.text($size: lg);
  }
}

.landing-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__heading {
    @include mixins.text;
  }

  &__links {
    a:first-child {
      @include mixins.button;
    }

    a:last-child {
      @include mixins.button($theme: primary);
    }
  }

  &__feature {
    @include mixins.card($variant: rounded);

    h2 {
      @include mixins.text($size: xl, $weight: bold);
    }

    p {
      @include mixins.text;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;gap: 1rem;

    margin-top: 1rem;
    padding: 0 1rem;

    @media (min-width: variables.$breakpoint-xl) {
      display: none;
    }
  }
}

.column-forbidden {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: center;

  min-height: 10rem;
  padding: 2.5rem;
  border-radius: var(--radius-lg);

  color: var(--color-gray-900);
  text-align: center;

  background: var(--color-primary-50);

  .dark & {
    color: var(--color-gray-300);
    background: var(--color-gray-700);
  }
}

.timeline-column {
  margin-top: -0.75rem;

  @media (min-width: variables.$breakpoint-sm) {
    margin-top: 0;
  }
}

.restricted-instances {
  padding-top: 1rem;
}

.restricted-instance {
  a {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    padding: 0.625rem 0;

    text-decoration: none;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__content {
    overflow: hidden;
    height: 0;

    &--expanded {
      height: auto;
    }
  }

  &--rejected {
    a div {
      text-decoration-line: line-through;
    }
  }
}

.instance-restrictions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &__item {
    display: flex;
    gap: 0.75rem;

    svg {
      flex: none;
      width: 1.25rem;
      height: 1.25rem;
    }

    p {
      @include mixins.text($theme: muted);
    }
  }
}

.external-redirect {
  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    a {
      color: var(--color-primary-600);

      .dark & {
        color: var(--color-primary-400);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.about-page {
  &__card {
    @include mixins.card($variant: rounded);
  }

  &__content {
    @include mixins.text;

    margin: 0 auto;
    padding: 1rem 0;

    @media (min-width: variables.$breakpoint-sm) {
      padding: 1.5rem;
    }
  }

  &__variants {
    ul {
      display: inline;
      padding: 0;
      list-style-type: none;
    }

    li {
      display: inline;

      &::after {
        content: ' · ';
      }

      &:last-child {
        content: none;
      }
    }
  }
}
