@use 'variables';

@mixin text(
  $family: sans,
  $size: md,
  $theme: default,
  $tracking: normal,
  $transform: normal,
  $truncate: false,
  $weight: normal,
  $align: none
) {
  @if $family == sans {
    font-family: var(--font-sans);
  } @else if $family == mono {
    font-family: var(--font-mono);
  } @else {
    @warn "Unknown font family `#{$family}`.";
  }

  @if $size == xs {
    font-size: var(--text-xs);
    line-height: var(--leading-xs);
  } @else if $size == sm {
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
  } @else if $size == md {
    font-size: var(--text-base);
    line-height: var(--leading-base);
  } @else if $size == lg {
    font-size: var(--text-lg);
    line-height: var(--leading-lg);
  } @else if $size == xl {
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
  } @else if $size == 2xl {
    font-size: var(--text-2xl);
    line-height: var(--leading-2xl);
  } @else if $size == 3xl {
    font-size: var(--text-3xl);
    line-height: var(--leading-3xl);
  } @else if $size == inherit {
    font-size: inherit;
    line-height: inherit;
  } @else {
    @warn "Unknown font size `#{$size}`.";
  }

  @if $theme == default {
    color: var(--color-gray-900);

    &:is(.dark *) {
      color: var(--color-gray-100);
    }
  } @else if $theme == danger {
    color: var(--color-danger-700);

    &:is(.dark *) {
      color: var(--color-danger-500);
    }
  } @else if $theme == primary {
    color: var(--color-primary-600);

    &:is(.dark *) {
      color: var(--color-primary-400);
    }
  } @else if $theme == muted {
    color: var(--color-gray-700);

    &:is(.dark *) {
      color: var(--color-gray-600);
    }
  } @else if $theme == subtle {
    color: var(--color-gray-400);

    &:is(.dark *) {
      color: var(--color-gray-500);
    }
  } @else if $theme == success {
    color: var(--color-success-600);
  } @else if $theme == inherit {
    color: inherit;
  } @else if $theme == white {
    color: #fff;
  } @else {
    @warn "Unknown text theme `#{$theme}`.";
  }

  @if $tracking == normal {
    letter-spacing: 0;
  } @else if $tracking == wide {
    letter-spacing: 0.025em;
  } @else {
    @warn "Unknown letter spacing `#{$tracking}`.";
  }

  @if $transform == normal {
    text-transform: none;
  } @else if $transform == uppercase {
    text-transform: uppercase;
  } @else {
    @warn "Unknown text transform `#{$transform}`.";
  }

  @if $truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @if $weight == normal {
    font-weight: 400;
  } @else if $weight == medium {
    font-weight: 500;
  } @else if $weight == semibold {
    font-weight: 600;
  } @else if $weight == bold {
    font-weight: 700;
  } @else {
    @warn "Unknown font weight `#{$weight}`.";
  }

  @if $align == left {
    text-align: left;
  } @else if $align == center {
    text-align: center;
  } @else if $align == right {
    text-align: right;
  }
}

@mixin card($variant: default, $size: md) {
  @if $variant == rounded {
    color: var(--color-gray-900);
    background-color: var(--card-background);
    box-shadow: var(--shadow-lg);

    &:is(.dark *) {
      color: var(--color-gray-100);
      box-shadow: none;
    }

    @if $size == md {
      padding: 1rem;

      @media (min-width: variables.$breakpoint-sm) {
        border-radius: var(--radius-xl);
      }
    } @else if $size == lg {
      padding: 1rem;

      @media (min-width: variables.$breakpoint-sm) {
        padding: 1.5rem;
        border-radius: var(--radius-xl);
      }
    } @else if $size == xl {
      padding: 1rem;

      @media (min-width: variables.$breakpoint-sm) {
        padding: 2.5rem;
        border-radius: var(--radius-3xl);
      }
    } @else {
      @warn "Unknown card size `#{$size}`.";
    }
  } @else if $variant == slim {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @if $size != xl {
    &:is(.body--bordered *) {
      border-radius: 0;
    }
  }
}

@mixin button($theme: secondary, $block: false, $size: md) {
  display: inline-flex;
  place-content: center;
  align-items: center;

  border-width: 1px;
  border-radius: var(--radius-full);

  font-weight: 500;

  appearance: none;

  transition: all 150ms var(--ease-default);

  &:focus {
    outline: 2px solid;
    outline-offset: 2px;
  }

  &:disabled {
    cursor: default;
    user-select: none;
    opacity: 0.75;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  @if $theme == primary {
    border-color: transparent;
    color: var(--color-gray-100);
    background-color: var(--color-primary-500);

    &:hover:not(:disabled) {
      background-color: var(--color-primary-400);
    }

    &:focus {
      background-color: var(--color-primary-500);
      outline-color: var(--color-primary-300);
    }

    &:hover:not(:disabled):is(.dark *) {
      background-color: var(--color-primary-600);
    }
  } @else if $theme == secondary {
    border-color: transparent;
    color: var(--color-primary-500);
    background-color: var(--color-primary-100);

    &:hover:not(:disabled) {
      background-color: var(--color-primary-50);
    }

    &:focus {
      background-color: var(--color-primary-100);
    }

    &:is(.dark *) {
      color: var(--color-primary-200);
      background-color: var(--color-primary-800);
    }

    &:hover:not(:disabled):is(.dark *) {
      background-color: var(--color-primary-700);
    }

    &:focus:is(.dark *) {
      background-color: var(--color-primary-800);
    }
  } @else if $theme == tertiary {
    border-color: var(--color-gray-400);
    color: var(--color-gray-900);
    background-color: #fff;

    &:hover:not(:disabled) {
      border-color: var(--color-primary-300);
    }

    &:focus {
      border-color: var(--color-primary-500);
      outline-color: var(--color-primary-500);
    }

    &:is(.dark *) {
      border-color: var(--color-gray-800);
      color: var(--color-gray-100);
      background-color: var(--color-primary-900);
    }

    &:hover:not(:disabled):is(.dark *) {
      border-color: var(--color-primary-700);
    }
  } @else if $theme == accent {
    border-color: transparent;
    color: #fff;
    background-color: var(--color-secondary-500);

    &:hover:not(:disabled) {
      background-color: var(--color-secondary-400);
    }

    &:focus {
      background-color: var(--color-secondary-500);
      outline-color: var(--color-secondary-300);
    }
  } @else if $theme == danger {
    border-color: transparent;
    color: var(--color-danger-600);
    background-color: var(--color-danger-100);

    &:hover:not(:disabled),
    &:focus {
      color: var(--color-gray-100);
      background-color: var(--color-danger-600);
    }

    &:focus {
      outline-color: var(--color-danger-500);
    }

    &:is(.dark *) {
      color: var(--color-danger-200);
      background-color: var(--color-danger-900);
    }

    &:hover:not(:disabled):is(.dark *) {
      color: var(--color-gray-100);
      background-color: var(--color-danger-500);
    }
  } @else if $theme == transparent {
    border-color: transparent;
    color: var(--color-primary-600);
    background-color: transparent;

    &:hover:not(:disabled) {
      background-color: var(--color-gray-200);
    }

    &:is(.dark *) {
      color: var(--color-primary-400);
      background-color: transparent;
    }

    &:hover:not(:disabled):is(.dark *) {
      background-color: variables.opaque(--color-gray-800, 0.5);
    }
  } @else if $theme == outline {
    border-color: var(--color-gray-100);
    border-width: 2px;
    color: var(--color-gray-100);
    background-color: transparent;

    &:hover:not(:disabled) {
      background-color: #fff1;
    }
  } @else if $theme == muted {
    border-color: var(--color-gray-400);
    border-style: solid;
    border-width: 1px;

    color: var(--color-gray-800);

    background-color: transparent;

    &:hover:not(:disabled) {
      border-color: var(--color-primary-300);
    }

    &:focus {
      border-color: var(--color-primary-500);
      outline: 2px solid var(--color-primary-500);
    }

    &:is(.dark *) {
      border-color: var(--color-gray-800);
      color: var(--color-gray-100);
    }

    &:hover:not(:disabled):is(.dark *) {
      border-color: var(--color-primary-700);
    }
  } @else {
    @warn "Unknown button theme `#{$theme}`.";
  }

  @if $size == xs {
    column-gap: 0.375rem;

    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;

    font-size: var(--text-xs);
    line-height: var(--leading-xs);
  } @else if $size == sm {
    column-gap: 0.5rem;

    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;

    font-size: var(--text-xs);
    line-height: var(--leading-xs);
  } @else if $size == md {
    column-gap: 0.5rem;

    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;

    font-size: var(--text-sm);
    line-height: var(--leading-sm);
  } @else if $size == lg {
    column-gap: 0.5rem;

    padding-top: 0.75rem;
    padding-right: 1.5rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;

    font-size: var(--text-base);
    line-height: var(--leading-base);
  } @else {
    @warn "Unknown button size `#{$size}`.";
  }

  @if $block {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
