@use 'mixins';

.account-note-panel__header {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  span {
    @include mixins.text($theme: success);

    line-height: var(--leading-sm);
  }
}

.notifications-panel {
  flex-grow: 1;

  .widget__body {
    flex-grow: 1;
    gap: 0;
    min-height: 20rem;

    .ptr {
      display: grid; // why?
      flex-grow: 1;
    }

    .notification,
    .notification--placeholder {
      padding: 0.5rem;
    }
  }
}

.shoutbox-widget {
  .widget__body {
    height: 20rem;
    max-height: 20rem;
  }
}

.announcements-widget {
  .widget__body {
    @include mixins.card($size: md, $variant: rounded);

    position: relative;
    gap: 0;

    .body--bordered & {
      border: 1px solid var(--card-border);
      border-radius: var(--radius-xl);
    }
  }

  &__dots {
    position: relative;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    button {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: var(--radius-full);
      background-color: var(--color-gray-200);

      &:hover {
        background-color: var(--color-gray-300);
      }

      &:focus {
        outline: 2px solid var(--color-primary-600);
        outline-offset: 2px;
      }

      &[data-active='true'],
      &[data-active='true']:hover {
        background-color: var(--color-primary-600);
      }
    }
  }
}

.account-latest-status-panel {
  .card--slim {
    padding: 0;
  }

  html:not(.dark) & .read-more-button__gradient {
    background-image: linear-gradient(to bottom, transparent, var(--color-primary-50));
  }
}

.new-event-panel,
.new-group-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    @include mixins.text($size: lg, $weight: bold);
  }

  &__text {
    @include mixins.text($theme: muted, $size: sm);
  }

  a,
  button {
    @include mixins.button($theme: secondary, $block: true);
  }
}

.sidebar-suggestion--placeholder {
  pointer-events: none;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  width: 100%;

  .no-reduce-motion & {
    animation: pulse 2s ease-in-out infinite;
  }

  &__avatar {
    display: block;
    flex-shrink: 0;

    width: 2.25rem;
    height: 2.25rem;
    border-radius: var(--radius-full);

    text-align: center;

    background-color: var(--color-primary-200);

    .dark & {
      background-color: var(--color-primary-700);
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    color: var(--color-primary-200);

    .dark & {
      color: var(--color-primary-700);
    }
  }
}

.sidebar-trend--placeholder {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  color: var(--color-primary-200);

  .no-reduce-motion & {
    animation: pulse 2s ease-in-out infinite;
  }

  .dark & {
    color: var(--color-primary-700);
  }
}

.promo-panel {
  &__item {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .fa {
      flex: none;
      font-size: var(--text-lg);
      line-height: var(--leading-lg);
    }
  }
}

.sign-up-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__link {
    @include mixins.button($theme: primary, $block: true);
  }

  &__registration {
    display: flex;
    flex-direction: column;

    h2 {
      @include mixins.text($size: lg, $weight: bold);
    }

    p {
      @include mixins.text($theme: muted, $size: sm);
    }
  }

  &__heading {
    @include mixins.text($size: lg, $weight: bold);
  }
}

.widget__action-link {
  @include mixins.text($theme: primary, $size: sm, $align: right);

  &:hover {
    text-decoration: underline;
  }
}

.crypto-donate-panel {
  .widget__body > p {
    @include mixins.text;
  }
}
