@use 'mixins';
@use 'variables';

.layout__main--home {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .body--bordered & {
    gap: 0;

    & > :not([hidden]) ~ :not([hidden]) {
      border-color: var(--card-border);
    }
  }

  .dark & > :not([hidden]) ~ :not([hidden]) {
    border-color: var(--color-primary-800);
  }
}

.compose-block {
  position: relative;
  z-index: 1;

  overflow: hidden;

  border-color: var(--color-gray-200);

  transition: all 150ms var(--ease-default);

  .body--bordered & {
    border-color: var(--card-border);
    border-bottom-width: 1px;
  }

  .dark & {
    border-color: var(--color-gray-800);
  }

  &--dragging {
    z-index: 99;
    border-color: var(--color-primary-600);
    border-style: dashed;
    border-width: 2px;
  }

  &--dragged-over {
    outline: 2px solid var(--color-primary-600);
    outline-offset: 2px;
  }

  &__body {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
  }

  &__form {
    width: 100%;
  }

  @media (max-width: variables.$breakpoint-sm) {
    border-bottom-width: 1px;
    box-shadow: none;
  }

  @include mixins.card($variant: rounded);
}

.status-list {
  & > :not([hidden]) ~ :not([hidden]) {
    border-color: var(--color-gray-200);
    border-style: solid;
    border-top-width: 1px;
  }

  .dark.black & > :not([hidden]) ~ :not([hidden]) {
    border-color: var(--color-gray-800);
  }

  .dark & > :not([hidden]) ~ :not([hidden]) {
    border-color: var(--color-primary-800);
  }

  .no-reduce-motion &--loading {
    animation: pulse 2s ease-in-out infinite;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    h2 {
      @include mixins.text($size: 2xl, $weight: bold, $align: center);

      line-height: 2;
    }

    p {
      @include mixins.text($size: sm, $theme: muted, $align: center);
    }
  }
}

.skip-pinned {
  position: absolute;
  z-index: 10;
  right: 0;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  width: fit-content;
  max-width: 100%;
  padding-top: 0.25rem;
  padding-right: 0.75rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  border-color: var(--color-gray-200);
  border-width: 1px;
  border-radius: var(--radius-full);

  color: var(--color-gray-700);

  background-color: var(--color-gray-100);

  &:hover {
    background-color: var(--color-gray-200);
  }

  .dark.black & {
    border-color: var(--color-gray-800);
    background-color: var(--color-gray-900);
  }

  .dark.black &:hover {
    background-color: var(--color-gray-800);
  }

  .dark & {
    border-color: transparent;
    color: var(--color-gray-600);
    background-color: var(--color-primary-800);
  }

  .dark &:hover {
    border-color: var(--color-primary-800);
    background-color: var(--color-primary-900);
  }

  svg {
    width: 1rem;
    height: 1rem;
  }

  p {
    @include mixins.text($size: xs, $theme: muted, $weight: medium, $truncate: true);
  }
}

.load-more {
  @include mixins.button($theme: primary, $block: true);
}

.timeline-picker {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  margin: -0.25rem -0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius-sm);

  transition: background 150ms ease-in-out;

  &[type="button"] {
    cursor: pointer;

    &:hover, &:focus-within, &[aria-expanded="true"] {
      background: var(--color-primary-100);

      .dark & {
        background: var(--color-primary-800);
      }

      .dark.black & {
        background: var(--color-gray-900);
      }
    }
  }
}

.remote-timeline {
  &__moderation {
    margin-bottom: 1rem;

    &--optional {
      @media (min-width: variables.$breakpoint-xl) {
        display: none;
      }
    }
  }
}

.pinned-remote-timeline {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  margin-bottom: 1rem;
  padding: 0 0.5rem;

  .icon-button {
    color: var(--color-gray-400);

    &:hover {
      color: var(--color-gray-600);
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  p {
    @include mixins.text;
  }
}

.landing-timeline {
  .site-banner {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 0 1rem;

    @media (min-width: variables.$breakpoint-lg) {
      margin-bottom: 3rem;
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin-bottom: 1rem;

    a:first-child {
      @include mixins.button($theme: tertiary);
    }

    a:not(:first-child) {
      @include mixins.button;
    }

    @media (min-width: variables.$breakpoint-lg) {
      display: none;
    }
  }
}

.timeline-refresh-button {
  color: var(--color-gray-600);

  &:hover {
    color: var(--color-gray-700);

    .dark & {
      color: var(--color-gray-500);
    }
  }
}

.home-timeline {
  padding-top: 0;
  padding-bottom: 0;

  &__empty {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h2 {
      @include mixins.text($size: xl, $weight: medium, $align: center);

      line-height: 2;
    }

    p {
      @include mixins.text($theme: muted, $align: center);
    }
  }
}

.list-timeline {
  &__not-found {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    a {
      @include mixins.button($theme: muted);
    }
  }

  &__add {
    margin-top: 1rem;
    @include mixins.button($theme: secondary);
  }
}

.timeline-filters-options__hint {
  @include mixins.text($size: sm, $theme: muted,);

  margin: 0.5rem 0.5rem 0;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-gray-100);

  .dark & {
    border-color: var(--color-gray-800);
  }
}
