@use '../variables';

.react-datepicker {
  padding: 1rem;
  border: 1px solid var(--color-gray-200);
  border-radius: var(--radius-md);

  font-family: var(--font-sans);
  font-size: var(--text-xs);
  line-height: var(--leading-xs);
  color: var(--color-gray-900);

  .dark & {
    border-color: var(--color-gray-700);
    color: var(--color-gray-300);
    background: var(--color-gray-900);
  }

  .black & {
    background: black;
  }

  &__input-container > input {
    width: 100%;
    border: 1px solid var(--color-gray-400);
    border-radius: var(--radius-md);

    &:focus {
      border-color: var(--color-primary-500);
      outline: 2px solid var(--color-primary-500);
    }

    .dark & {
      border-color: var(--color-gray-800);
      color: var(--color-gray-100);
      background: var(--color-gray-900);
    }

    .black & {
      background: black;
    }

    &.has-error {
      border-color: var(--color-red-600);
      color: var(--color-red-600);
    }

    @media (min-width: variables.$breakpoint-sm) {
      font-size: var(--text-sm);
    }
  }
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
  border-bottom-color: white;

  .dark & {
    border-bottom-color: var(--color-gray-900);
  }

  .black & {
    border-bottom-color: black;
  }
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
  border-bottom-color: var(--color-gray-200);

  .dark & {
    border-bottom-color: var(--color-gray-700);
  }
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: var(--radius-lg);
}

.react-datepicker__header {
  padding: 0.25rem 0;
  border-bottom: 0;
  background: white;

  .dark & {
    background: var(--color-gray-900);
  }

  .black & {
    background: black;
  }
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-gray-900);

  .dark & {
    color: var(--color-gray-300);
  }
}

.react-datepicker__current-month {
  margin-top: 0.125rem;
}

.react-datepicker__navigation {
  top: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  &:hover {
    background-color: var(--color-gray-100);

    .dark & {
      background-color: variables.opaque(--color-gray-900, 0.5);
    }
  }
}

.react-datepicker__navigation-icon {
  margin-top: -3px;
}

.react-datepicker__navigation-icon--previous::before {
  right: -5px;
}

.react-datepicker__navigation-icon--next::before {
  left: -5px;
}

.react-datepicker__navigation--previous {
  left: 1rem;
}

.react-datepicker__navigation--next {
  right: 1rem;

  &--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 100px;
  }
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  top: 0.5rem;
  width: 7px;
  height: 7px;
  border-width: 2px 2px 0 0;
}

.react-datepicker__header__dropdown {
  padding: 1rem 0;
}

.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__time {
  &-container & {
    .dark & {
      background-color: var(--color-gray-900);
    }

    .black & {
      background-color: black;
    }
  }
}

.react-datepicker__time-container {
  .dark & {
    border-color: var(--color-gray-700);
  }

  .body--bordered & {
    border-color: var(--card-border);
  }
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: var(--color-gray-900);

  .dark & {
    color: var(--color-gray-300);
  }
}

.react-datepicker__time-list-item--disabled,
.react-datepicker__day--disabled {
  color: var(--color-gray-400);

  .dark & {
    color: var(--color-gray-500);
  }
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover,
.react-datepicker__time-list-item:hover {
  border-radius: 50%;
  background-color: var(--color-gray-100);

  .dark & {
    background-color: var(--color-gray-700);
  }
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 50%;
  color: white;
  background: var(--color-primary-600);

  &:hover {
    background: var(--color-primary-700);
  }

  .dark & {
    color: black;
    background: var(--color-gray-300);

    &:hover {
      background: var(--color-gray-200);
    }
  }
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  color: var(--color-primary-600);
  background: var(--color-primary-50);

  &:hover {
    background: var(--color-primary-100);
  }

  .dark & {
    color: var(--color-primary-400);
    background: var(--color-gray-700);

    &:hover {
      background: var(--color-gray-600);
    }
  }
}

.react-datepicker__close-icon {
  &::after {
    content: '';

    font-family: 'Font Awesome 5 Free';
    font-size: var(--text-base);
    font-weight: 900;
    line-height: var(--leading-base);
    color: var(--color-gray-600);

    background: transparent;

    .dark & {
      color: var(--color-gray-400);
    }
  }

  body[dir='rtl'] & {
    right: auto;
    left: 0;
    padding-right: 0;
    padding-left: 6px;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}
